.footer-site {
    font-size: 15px;
    position: relative;
    padding: 25px 10px 40px;
    text-align: center;
    &__head {
        margin-bottom: 28px;
    }
    &__address {
        margin: 0 0 22px;
    }
    &:before {
        position: absolute;
        right: 0;
        bottom: 10px;
        content: '';

        .image-2x('../img/footer-bg.png');
    }
    &:after {
        position: absolute;
        top: 55px;
        right: 5px;
        content: '';

        .image-2x('../img/footer-icon.png');
    }
}

.get-direction {
    line-height: 46px;
    position: relative;
    left: 14px;
    display: block;
    margin: 0 auto 10px;
    background-position: 50% 0;

    .image-2x('../img/footer-map-button.png');
    &:before {
        position: absolute;
        top: 0;
        left: -25px;
        width: 45px;
        height: 43px;
        content: '';
        background: url('../img/compus.svg') no-repeat 0 0;
    }
}

.contacts {
    margin: 0 auto 25px;
    padding: 0 0 0 27px;
    list-style-type: none;
    text-align: left;
    &__item {
        margin: 0 0 8px;
        .text ,
        .icon {
            display: inline-block;
            vertical-align: middle;
            letter-spacing: 1px;
        }
        &_email {
            .icon {
                margin: 0 8px 0 0;
                background: url('../img/stamp.svg') no-repeat 0 0;
                width: 42px;
                height: 42px;
            }
        }
        &_phone {
            .icon {
                margin: 0 8px 0 8px;

                .image-2x('../img/footer-phone.png');
            }
        }
    }
}

.socnets {
    &__headline {
        margin: 0 0 15px;
        text-transform: uppercase;
    }
    &__link {
        display: inline-block;
        margin: 0 8px;
        vertical-align: middle;
        &_fb {
            width: 32px;
            height: 32px;
            background: url('../img/f.svg') no-repeat 0 0;
        }
        &_tw {
            width: 32px;
            height: 32px;
            background: url('../img/insta.svg') no-repeat 0 0;
        }
    }
}
