.site-footer {
    font-size: 15px;
    position: relative;
    padding: 25px 10px 40px;
    text-align: center;
    &__head {
        margin-bottom: 28px;
    }
    &__address {
        margin: 0 0 22px;
    }
    &:before {
        position: absolute;
        right: 0;
        bottom: 10px;
        content: '';

        .retina-sprite(@footer-bg-group);
    }
    &:after {
        position: absolute;
        top: 55px;
        right: 5px;
        content: '';

        .retina-sprite(@footer-icon-group);
    }
}

.badge {
    line-height: 46px;
    position: relative;
    left: 14px;
    display: block;
    margin: 0 auto 10px;
    background-position: 50% 0;

    .retina-sprite(@footer-map-button-group);
    &:before {
        position: absolute;
        top: 0;
        left: -25px;
        width: 45px;
        height: 43px;
        content: '';
        background: url('../img/compus.svg') no-repeat 0 0;
    }
}

.contacts {
    margin: 0 auto 34px;
    padding: 0;
    list-style-type: none;
    &__item {
        margin: 0 0 15px;
        .text ,
        .icon {
            display: inline-block;
            vertical-align: middle;
            letter-spacing: 1px;
        }
        .icon-email {
            margin: 0 10px 0 0;
        }
        .icon-phone {
            margin: 0 8px 0 8px;
        }
    }
}

.social {
    &__title {
        font-size: 14px;
        margin: 0 0 15px;
        text-transform: uppercase;
    }
    &__link {
        display: inline-block;
        margin: 0 5px;
        vertical-align: middle;
    }
}
