.navigation {
    font-size: 17px;
    text-align: center;
    color: #3c3c3c;

    .lobster();
    &__list {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translate(0, -50%);

        .list-reset();
    }
    &__link {
        display: block;
        padding: 14px;
        letter-spacing: 1px;
        color: #3c3c3c;
    }
    .nav-red-letter {
        color: #d74d38;
    }
    .nav-blue-letter {
        color: #3eafae;
    }
    .nav-brown-letter {
        color: #bf8921;
    }
    .nav-pink-letter {
        color: #c56e6e;
    }
    .nav-green-letter {
        color: #9bb624;
    }
}