.navigation {
    font-size: 17px;
    position: fixed;
    //z-index: 95;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    color: #3c3c3c;
    transition: all .3s ease-out;
    z-index: -1;
    top: -100%;
    opacity: 0;

    .lobster();
    .image-2x('../img/nav-bg.png');
    &__list {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translate(0, -50%);

        .list-reset();
    }
    &__link {
        display: block;
        padding: 14px;
        color: #3c3c3c;
        letter-spacing: 1px;
    }
    .nav-red-letter {
        color: #d74d38;
    }
    .nav-blue-letter {
        color: #3eafae;
    }
    .nav-brown-letter {
        color: #bf8921;
    }
    .nav-pink-letter {
        color: #c56e6e;
    }
    .nav-green-letter {
        color: #9bb624;
    }
}

.is-show-navigation .navigation {
    z-index: 95;
    opacity: 1;
    visibility: visible;
    top: 60px;
}