/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@close-name: 'close';
@close-x: 1045px;
@close-y: 253px;
@close-offset-x: -1045px;
@close-offset-y: -253px;
@close-width: 45px;
@close-height: 45px;
@close-total-width: 1300px;
@close-total-height: 540px;
@close-image: '../img/sprite.png';
@close: 1045px 253px -1045px -253px 45px 45px 1300px 540px '../img/sprite.png' 'close';
@concept-box-name: 'concept-box';
@concept-box-x: 0px;
@concept-box-y: 351px;
@concept-box-offset-x: 0px;
@concept-box-offset-y: -351px;
@concept-box-width: 296px;
@concept-box-height: 189px;
@concept-box-total-width: 1300px;
@concept-box-total-height: 540px;
@concept-box-image: '../img/sprite.png';
@concept-box: 0px 351px 0px -351px 296px 189px 1300px 540px '../img/sprite.png' 'concept-box';
@concept-head-name: 'concept-head';
@concept-head-x: 600px;
@concept-head-y: 0px;
@concept-head-offset-x: -600px;
@concept-head-offset-y: 0px;
@concept-head-width: 700px;
@concept-head-height: 60px;
@concept-head-total-width: 1300px;
@concept-head-total-height: 540px;
@concept-head-image: '../img/sprite.png';
@concept-head: 600px 0px -600px 0px 700px 60px 1300px 540px '../img/sprite.png' 'concept-head';
@footer-bg-name: 'footer-bg';
@footer-bg-x: 600px;
@footer-bg-y: 60px;
@footer-bg-offset-x: -600px;
@footer-bg-offset-y: -60px;
@footer-bg-width: 105px;
@footer-bg-height: 274px;
@footer-bg-total-width: 1300px;
@footer-bg-total-height: 540px;
@footer-bg-image: '../img/sprite.png';
@footer-bg: 600px 60px -600px -60px 105px 274px 1300px 540px '../img/sprite.png' 'footer-bg';
@footer-head-name: 'footer-head';
@footer-head-x: 1096px;
@footer-head-y: 109px;
@footer-head-offset-x: -1096px;
@footer-head-offset-y: -109px;
@footer-head-width: 180px;
@footer-head-height: 45px;
@footer-head-total-width: 1300px;
@footer-head-total-height: 540px;
@footer-head-image: '../img/sprite.png';
@footer-head: 1096px 109px -1096px -109px 180px 45px 1300px 540px '../img/sprite.png' 'footer-head';
@footer-icon-name: 'footer-icon';
@footer-icon-x: 935px;
@footer-icon-y: 253px;
@footer-icon-offset-x: -935px;
@footer-icon-offset-y: -253px;
@footer-icon-width: 55px;
@footer-icon-height: 52px;
@footer-icon-total-width: 1300px;
@footer-icon-total-height: 540px;
@footer-icon-image: '../img/sprite.png';
@footer-icon: 935px 253px -935px -253px 55px 52px 1300px 540px '../img/sprite.png' 'footer-icon';
@footer-map-button-name: 'footer-map-button';
@footer-map-button-x: 705px;
@footer-map-button-y: 60px;
@footer-map-button-offset-x: -705px;
@footer-map-button-offset-y: -60px;
@footer-map-button-width: 259px;
@footer-map-button-height: 49px;
@footer-map-button-total-width: 1300px;
@footer-map-button-total-height: 540px;
@footer-map-button-image: '../img/sprite.png';
@footer-map-button: 705px 60px -705px -60px 259px 49px 1300px 540px '../img/sprite.png' 'footer-map-button';
@footer-phone-name: 'footer-phone';
@footer-phone-x: 892px;
@footer-phone-y: 209px;
@footer-phone-offset-x: -892px;
@footer-phone-offset-y: -209px;
@footer-phone-width: 55px;
@footer-phone-height: 34px;
@footer-phone-total-width: 1300px;
@footer-phone-total-height: 540px;
@footer-phone-image: '../img/sprite.png';
@footer-phone: 892px 209px -892px -209px 55px 34px 1300px 540px '../img/sprite.png' 'footer-phone';
@frame-hands-small-name: 'frame-hands-small';
@frame-hands-small-x: 1140px;
@frame-hands-small-y: 168px;
@frame-hands-small-offset-x: -1140px;
@frame-hands-small-offset-y: -168px;
@frame-hands-small-width: 100px;
@frame-hands-small-height: 15px;
@frame-hands-small-total-width: 1300px;
@frame-hands-small-total-height: 540px;
@frame-hands-small-image: '../img/sprite.png';
@frame-hands-small: 1140px 168px -1140px -168px 100px 15px 1300px 540px '../img/sprite.png' 'frame-hands-small';
@frame-hands-name: 'frame-hands';
@frame-hands-x: 885px;
@frame-hands-y: 168px;
@frame-hands-offset-x: -885px;
@frame-hands-offset-y: -168px;
@frame-hands-width: 255px;
@frame-hands-height: 15px;
@frame-hands-total-width: 1300px;
@frame-hands-total-height: 540px;
@frame-hands-image: '../img/sprite.png';
@frame-hands: 885px 168px -885px -168px 255px 15px 1300px 540px '../img/sprite.png' 'frame-hands';
@input-decor-1-name: 'input-decor-1';
@input-decor-1-x: 1128px;
@input-decor-1-y: 253px;
@input-decor-1-offset-x: -1128px;
@input-decor-1-offset-y: -253px;
@input-decor-1-width: 36px;
@input-decor-1-height: 36px;
@input-decor-1-total-width: 1300px;
@input-decor-1-total-height: 540px;
@input-decor-1-image: '../img/sprite.png';
@input-decor-1: 1128px 253px -1128px -253px 36px 36px 1300px 540px '../img/sprite.png' 'input-decor-1';
@input-decor-2-name: 'input-decor-2';
@input-decor-2-x: 842px;
@input-decor-2-y: 209px;
@input-decor-2-offset-x: -842px;
@input-decor-2-offset-y: -209px;
@input-decor-2-width: 50px;
@input-decor-2-height: 39px;
@input-decor-2-total-width: 1300px;
@input-decor-2-total-height: 540px;
@input-decor-2-image: '../img/sprite.png';
@input-decor-2: 842px 209px -842px -209px 50px 39px 1300px 540px '../img/sprite.png' 'input-decor-2';
@input-decor-3-name: 'input-decor-3';
@input-decor-3-x: 600px;
@input-decor-3-y: 334px;
@input-decor-3-offset-x: -600px;
@input-decor-3-offset-y: -334px;
@input-decor-3-width: 30px;
@input-decor-3-height: 51px;
@input-decor-3-total-width: 1300px;
@input-decor-3-total-height: 540px;
@input-decor-3-image: '../img/sprite.png';
@input-decor-3: 600px 334px -600px -334px 30px 51px 1300px 540px '../img/sprite.png' 'input-decor-3';
@input-decor-4-name: 'input-decor-4';
@input-decor-4-x: 661px;
@input-decor-4-y: 334px;
@input-decor-4-offset-x: -661px;
@input-decor-4-offset-y: -334px;
@input-decor-4-width: 33px;
@input-decor-4-height: 37px;
@input-decor-4-total-width: 1300px;
@input-decor-4-total-height: 540px;
@input-decor-4-image: '../img/sprite.png';
@input-decor-4: 661px 334px -661px -334px 33px 37px 1300px 540px '../img/sprite.png' 'input-decor-4';
@input-decor-5-name: 'input-decor-5';
@input-decor-5-x: 885px;
@input-decor-5-y: 183px;
@input-decor-5-offset-x: -885px;
@input-decor-5-offset-y: -183px;
@input-decor-5-width: 26px;
@input-decor-5-height: 22px;
@input-decor-5-total-width: 1300px;
@input-decor-5-total-height: 540px;
@input-decor-5-image: '../img/sprite.png';
@input-decor-5: 885px 183px -885px -183px 26px 22px 1300px 540px '../img/sprite.png' 'input-decor-5';
@input-decor-6-name: 'input-decor-6';
@input-decor-6-x: 600px;
@input-decor-6-y: 385px;
@input-decor-6-offset-x: -600px;
@input-decor-6-offset-y: -385px;
@input-decor-6-width: 32px;
@input-decor-6-height: 38px;
@input-decor-6-total-width: 1300px;
@input-decor-6-total-height: 540px;
@input-decor-6-image: '../img/sprite.png';
@input-decor-6: 600px 385px -600px -385px 32px 38px 1300px 540px '../img/sprite.png' 'input-decor-6';
@logo-name: 'logo';
@logo-x: 990px;
@logo-y: 253px;
@logo-offset-x: -990px;
@logo-offset-y: -253px;
@logo-width: 55px;
@logo-height: 47px;
@logo-total-width: 1300px;
@logo-total-height: 540px;
@logo-image: '../img/sprite.png';
@logo: 990px 253px -990px -253px 55px 47px 1300px 540px '../img/sprite.png' 'logo';
@lupa-name: 'lupa';
@lupa-x: 630px;
@lupa-y: 334px;
@lupa-offset-x: -630px;
@lupa-offset-y: -334px;
@lupa-width: 31px;
@lupa-height: 48px;
@lupa-total-width: 1300px;
@lupa-total-height: 540px;
@lupa-image: '../img/sprite.png';
@lupa: 630px 334px -630px -334px 31px 48px 1300px 540px '../img/sprite.png' 'lupa';
@map-zoom-in-name: 'map-zoom-in';
@map-zoom-in-x: 763px;
@map-zoom-in-y: 253px;
@map-zoom-in-offset-x: -763px;
@map-zoom-in-offset-y: -253px;
@map-zoom-in-width: 58px;
@map-zoom-in-height: 58px;
@map-zoom-in-total-width: 1300px;
@map-zoom-in-total-height: 540px;
@map-zoom-in-image: '../img/sprite.png';
@map-zoom-in: 763px 253px -763px -253px 58px 58px 1300px 540px '../img/sprite.png' 'map-zoom-in';
@map-zoom-out-name: 'map-zoom-out';
@map-zoom-out-x: 705px;
@map-zoom-out-y: 253px;
@map-zoom-out-offset-x: -705px;
@map-zoom-out-offset-y: -253px;
@map-zoom-out-width: 58px;
@map-zoom-out-height: 58px;
@map-zoom-out-total-width: 1300px;
@map-zoom-out-total-height: 540px;
@map-zoom-out-image: '../img/sprite.png';
@map-zoom-out: 705px 253px -705px -253px 58px 58px 1300px 540px '../img/sprite.png' 'map-zoom-out';
@nav-bg-name: 'nav-bg';
@nav-bg-x: 0px;
@nav-bg-y: 0px;
@nav-bg-offset-x: 0px;
@nav-bg-offset-y: 0px;
@nav-bg-width: 319px;
@nav-bg-height: 351px;
@nav-bg-total-width: 1300px;
@nav-bg-total-height: 540px;
@nav-bg-image: '../img/sprite.png';
@nav-bg: 0px 0px 0px 0px 319px 351px 1300px 540px '../img/sprite.png' 'nav-bg';
@opinion-man-bottom-name: 'opinion-man-bottom';
@opinion-man-bottom-x: 1090px;
@opinion-man-bottom-y: 253px;
@opinion-man-bottom-offset-x: -1090px;
@opinion-man-bottom-offset-y: -253px;
@opinion-man-bottom-width: 38px;
@opinion-man-bottom-height: 40px;
@opinion-man-bottom-total-width: 1300px;
@opinion-man-bottom-total-height: 540px;
@opinion-man-bottom-image: '../img/sprite.png';
@opinion-man-bottom: 1090px 253px -1090px -253px 38px 40px 1300px 540px '../img/sprite.png' 'opinion-man-bottom';
@opinion-man-top-name: 'opinion-man-top';
@opinion-man-top-x: 911px;
@opinion-man-top-y: 183px;
@opinion-man-top-offset-x: -911px;
@opinion-man-top-offset-y: -183px;
@opinion-man-top-width: 24px;
@opinion-man-top-height: 18px;
@opinion-man-top-total-width: 1300px;
@opinion-man-top-total-height: 540px;
@opinion-man-top-image: '../img/sprite.png';
@opinion-man-top: 911px 183px -911px -183px 24px 18px 1300px 540px '../img/sprite.png' 'opinion-man-top';
@opinion-woman-bottom-name: 'opinion-woman-bottom';
@opinion-woman-bottom-x: 947px;
@opinion-woman-bottom-y: 209px;
@opinion-woman-bottom-offset-x: -947px;
@opinion-woman-bottom-offset-y: -209px;
@opinion-woman-bottom-width: 40px;
@opinion-woman-bottom-height: 31px;
@opinion-woman-bottom-total-width: 1300px;
@opinion-woman-bottom-total-height: 540px;
@opinion-woman-bottom-image: '../img/sprite.png';
@opinion-woman-bottom: 947px 209px -947px -209px 40px 31px 1300px 540px '../img/sprite.png' 'opinion-woman-bottom';
@opinion-woman-top-name: 'opinion-woman-top';
@opinion-woman-top-x: 1276px;
@opinion-woman-top-y: 109px;
@opinion-woman-top-offset-x: -1276px;
@opinion-woman-top-offset-y: -109px;
@opinion-woman-top-width: 24px;
@opinion-woman-top-height: 29px;
@opinion-woman-top-total-width: 1300px;
@opinion-woman-top-total-height: 540px;
@opinion-woman-top-image: '../img/sprite.png';
@opinion-woman-top: 1276px 109px -1276px -109px 24px 29px 1300px 540px '../img/sprite.png' 'opinion-woman-top';
@popup-close-name: 'popup-close';
@popup-close-x: 1209px;
@popup-close-y: 60px;
@popup-close-offset-x: -1209px;
@popup-close-offset-y: -60px;
@popup-close-width: 70px;
@popup-close-height: 45px;
@popup-close-total-width: 1300px;
@popup-close-total-height: 540px;
@popup-close-image: '../img/sprite.png';
@popup-close: 1209px 60px -1209px -60px 70px 45px 1300px 540px '../img/sprite.png' 'popup-close';
@popup-send-ok-name: 'popup-send-ok';
@popup-send-ok-x: 705px;
@popup-send-ok-y: 109px;
@popup-send-ok-offset-x: -705px;
@popup-send-ok-offset-y: -109px;
@popup-send-ok-width: 211px;
@popup-send-ok-height: 59px;
@popup-send-ok-total-width: 1300px;
@popup-send-ok-total-height: 540px;
@popup-send-ok-image: '../img/sprite.png';
@popup-send-ok: 705px 109px -705px -109px 211px 59px 1300px 540px '../img/sprite.png' 'popup-send-ok';
@popup-send-review-name: 'popup-send-review';
@popup-send-review-x: 705px;
@popup-send-review-y: 168px;
@popup-send-review-offset-x: -705px;
@popup-send-review-offset-y: -168px;
@popup-send-review-width: 180px;
@popup-send-review-height: 41px;
@popup-send-review-total-width: 1300px;
@popup-send-review-total-height: 540px;
@popup-send-review-image: '../img/sprite.png';
@popup-send-review: 705px 168px -705px -168px 180px 41px 1300px 540px '../img/sprite.png' 'popup-send-review';
@popup-title-name: 'popup-title';
@popup-title-x: 964px;
@popup-title-y: 60px;
@popup-title-offset-x: -964px;
@popup-title-offset-y: -60px;
@popup-title-width: 245px;
@popup-title-height: 45px;
@popup-title-total-width: 1300px;
@popup-title-total-height: 540px;
@popup-title-image: '../img/sprite.png';
@popup-title: 964px 60px -964px -60px 245px 45px 1300px 540px '../img/sprite.png' 'popup-title';
@popup-name: 'popup';
@popup-x: 319px;
@popup-y: 0px;
@popup-offset-x: -319px;
@popup-offset-y: 0px;
@popup-width: 281px;
@popup-height: 342px;
@popup-total-width: 1300px;
@popup-total-height: 540px;
@popup-image: '../img/sprite.png';
@popup: 319px 0px -319px 0px 281px 342px 1300px 540px '../img/sprite.png' 'popup';
@review-btn-name: 'review-btn';
@review-btn-x: 916px;
@review-btn-y: 109px;
@review-btn-offset-x: -916px;
@review-btn-offset-y: -109px;
@review-btn-width: 180px;
@review-btn-height: 46px;
@review-btn-total-width: 1300px;
@review-btn-total-height: 540px;
@review-btn-image: '../img/sprite.png';
@review-btn: 916px 109px -916px -109px 180px 46px 1300px 540px '../img/sprite.png' 'review-btn';
@review-head-name: 'review-head';
@review-head-x: 705px;
@review-head-y: 209px;
@review-head-offset-x: -705px;
@review-head-offset-y: -209px;
@review-head-width: 137px;
@review-head-height: 44px;
@review-head-total-width: 1300px;
@review-head-total-height: 540px;
@review-head-image: '../img/sprite.png';
@review-head: 705px 209px -705px -209px 137px 44px 1300px 540px '../img/sprite.png' 'review-head';
@slider-btn-next-name: 'slider-btn-next';
@slider-btn-next-x: 821px;
@slider-btn-next-y: 253px;
@slider-btn-next-offset-x: -821px;
@slider-btn-next-offset-y: -253px;
@slider-btn-next-width: 57px;
@slider-btn-next-height: 58px;
@slider-btn-next-total-width: 1300px;
@slider-btn-next-total-height: 540px;
@slider-btn-next-image: '../img/sprite.png';
@slider-btn-next: 821px 253px -821px -253px 57px 58px 1300px 540px '../img/sprite.png' 'slider-btn-next';
@slider-btn-prev-name: 'slider-btn-prev';
@slider-btn-prev-x: 878px;
@slider-btn-prev-y: 253px;
@slider-btn-prev-offset-x: -878px;
@slider-btn-prev-offset-y: -253px;
@slider-btn-prev-width: 57px;
@slider-btn-prev-height: 58px;
@slider-btn-prev-total-width: 1300px;
@slider-btn-prev-total-height: 540px;
@slider-btn-prev-image: '../img/sprite.png';
@slider-btn-prev: 878px 253px -878px -253px 57px 58px 1300px 540px '../img/sprite.png' 'slider-btn-prev';
@close-2x-name: 'close@2x';
@close-2x-x: 2090px;
@close-2x-y: 506px;
@close-2x-offset-x: -2090px;
@close-2x-offset-y: -506px;
@close-2x-width: 90px;
@close-2x-height: 90px;
@close-2x-total-width: 2600px;
@close-2x-total-height: 1080px;
@close-2x-image: '../img/sprite@2x.png';
@close-2x: 2090px 506px -2090px -506px 90px 90px 2600px 1080px '../img/sprite@2x.png' 'close@2x';
@concept-box-2x-name: 'concept-box@2x';
@concept-box-2x-x: 0px;
@concept-box-2x-y: 702px;
@concept-box-2x-offset-x: 0px;
@concept-box-2x-offset-y: -702px;
@concept-box-2x-width: 592px;
@concept-box-2x-height: 378px;
@concept-box-2x-total-width: 2600px;
@concept-box-2x-total-height: 1080px;
@concept-box-2x-image: '../img/sprite@2x.png';
@concept-box-2x: 0px 702px 0px -702px 592px 378px 2600px 1080px '../img/sprite@2x.png' 'concept-box@2x';
@concept-head-2x-name: 'concept-head@2x';
@concept-head-2x-x: 1200px;
@concept-head-2x-y: 0px;
@concept-head-2x-offset-x: -1200px;
@concept-head-2x-offset-y: 0px;
@concept-head-2x-width: 1400px;
@concept-head-2x-height: 120px;
@concept-head-2x-total-width: 2600px;
@concept-head-2x-total-height: 1080px;
@concept-head-2x-image: '../img/sprite@2x.png';
@concept-head-2x: 1200px 0px -1200px 0px 1400px 120px 2600px 1080px '../img/sprite@2x.png' 'concept-head@2x';
@footer-bg-2x-name: 'footer-bg@2x';
@footer-bg-2x-x: 1200px;
@footer-bg-2x-y: 120px;
@footer-bg-2x-offset-x: -1200px;
@footer-bg-2x-offset-y: -120px;
@footer-bg-2x-width: 210px;
@footer-bg-2x-height: 548px;
@footer-bg-2x-total-width: 2600px;
@footer-bg-2x-total-height: 1080px;
@footer-bg-2x-image: '../img/sprite@2x.png';
@footer-bg-2x: 1200px 120px -1200px -120px 210px 548px 2600px 1080px '../img/sprite@2x.png' 'footer-bg@2x';
@footer-head-2x-name: 'footer-head@2x';
@footer-head-2x-x: 2192px;
@footer-head-2x-y: 218px;
@footer-head-2x-offset-x: -2192px;
@footer-head-2x-offset-y: -218px;
@footer-head-2x-width: 360px;
@footer-head-2x-height: 90px;
@footer-head-2x-total-width: 2600px;
@footer-head-2x-total-height: 1080px;
@footer-head-2x-image: '../img/sprite@2x.png';
@footer-head-2x: 2192px 218px -2192px -218px 360px 90px 2600px 1080px '../img/sprite@2x.png' 'footer-head@2x';
@footer-icon-2x-name: 'footer-icon@2x';
@footer-icon-2x-x: 1870px;
@footer-icon-2x-y: 506px;
@footer-icon-2x-offset-x: -1870px;
@footer-icon-2x-offset-y: -506px;
@footer-icon-2x-width: 110px;
@footer-icon-2x-height: 104px;
@footer-icon-2x-total-width: 2600px;
@footer-icon-2x-total-height: 1080px;
@footer-icon-2x-image: '../img/sprite@2x.png';
@footer-icon-2x: 1870px 506px -1870px -506px 110px 104px 2600px 1080px '../img/sprite@2x.png' 'footer-icon@2x';
@footer-map-button-2x-name: 'footer-map-button@2x';
@footer-map-button-2x-x: 1410px;
@footer-map-button-2x-y: 120px;
@footer-map-button-2x-offset-x: -1410px;
@footer-map-button-2x-offset-y: -120px;
@footer-map-button-2x-width: 518px;
@footer-map-button-2x-height: 98px;
@footer-map-button-2x-total-width: 2600px;
@footer-map-button-2x-total-height: 1080px;
@footer-map-button-2x-image: '../img/sprite@2x.png';
@footer-map-button-2x: 1410px 120px -1410px -120px 518px 98px 2600px 1080px '../img/sprite@2x.png' 'footer-map-button@2x';
@footer-phone-2x-name: 'footer-phone@2x';
@footer-phone-2x-x: 1784px;
@footer-phone-2x-y: 418px;
@footer-phone-2x-offset-x: -1784px;
@footer-phone-2x-offset-y: -418px;
@footer-phone-2x-width: 110px;
@footer-phone-2x-height: 68px;
@footer-phone-2x-total-width: 2600px;
@footer-phone-2x-total-height: 1080px;
@footer-phone-2x-image: '../img/sprite@2x.png';
@footer-phone-2x: 1784px 418px -1784px -418px 110px 68px 2600px 1080px '../img/sprite@2x.png' 'footer-phone@2x';
@frame-hands-small-2x-name: 'frame-hands-small@2x';
@frame-hands-small-2x-x: 2280px;
@frame-hands-small-2x-y: 336px;
@frame-hands-small-2x-offset-x: -2280px;
@frame-hands-small-2x-offset-y: -336px;
@frame-hands-small-2x-width: 200px;
@frame-hands-small-2x-height: 30px;
@frame-hands-small-2x-total-width: 2600px;
@frame-hands-small-2x-total-height: 1080px;
@frame-hands-small-2x-image: '../img/sprite@2x.png';
@frame-hands-small-2x: 2280px 336px -2280px -336px 200px 30px 2600px 1080px '../img/sprite@2x.png' 'frame-hands-small@2x';
@frame-hands-2x-name: 'frame-hands@2x';
@frame-hands-2x-x: 1770px;
@frame-hands-2x-y: 336px;
@frame-hands-2x-offset-x: -1770px;
@frame-hands-2x-offset-y: -336px;
@frame-hands-2x-width: 510px;
@frame-hands-2x-height: 30px;
@frame-hands-2x-total-width: 2600px;
@frame-hands-2x-total-height: 1080px;
@frame-hands-2x-image: '../img/sprite@2x.png';
@frame-hands-2x: 1770px 336px -1770px -336px 510px 30px 2600px 1080px '../img/sprite@2x.png' 'frame-hands@2x';
@input-decor-1-2x-name: 'input-decor-1@2x';
@input-decor-1-2x-x: 2256px;
@input-decor-1-2x-y: 506px;
@input-decor-1-2x-offset-x: -2256px;
@input-decor-1-2x-offset-y: -506px;
@input-decor-1-2x-width: 72px;
@input-decor-1-2x-height: 72px;
@input-decor-1-2x-total-width: 2600px;
@input-decor-1-2x-total-height: 1080px;
@input-decor-1-2x-image: '../img/sprite@2x.png';
@input-decor-1-2x: 2256px 506px -2256px -506px 72px 72px 2600px 1080px '../img/sprite@2x.png' 'input-decor-1@2x';
@input-decor-2-2x-name: 'input-decor-2@2x';
@input-decor-2-2x-x: 1684px;
@input-decor-2-2x-y: 418px;
@input-decor-2-2x-offset-x: -1684px;
@input-decor-2-2x-offset-y: -418px;
@input-decor-2-2x-width: 100px;
@input-decor-2-2x-height: 78px;
@input-decor-2-2x-total-width: 2600px;
@input-decor-2-2x-total-height: 1080px;
@input-decor-2-2x-image: '../img/sprite@2x.png';
@input-decor-2-2x: 1684px 418px -1684px -418px 100px 78px 2600px 1080px '../img/sprite@2x.png' 'input-decor-2@2x';
@input-decor-3-2x-name: 'input-decor-3@2x';
@input-decor-3-2x-x: 1200px;
@input-decor-3-2x-y: 668px;
@input-decor-3-2x-offset-x: -1200px;
@input-decor-3-2x-offset-y: -668px;
@input-decor-3-2x-width: 60px;
@input-decor-3-2x-height: 102px;
@input-decor-3-2x-total-width: 2600px;
@input-decor-3-2x-total-height: 1080px;
@input-decor-3-2x-image: '../img/sprite@2x.png';
@input-decor-3-2x: 1200px 668px -1200px -668px 60px 102px 2600px 1080px '../img/sprite@2x.png' 'input-decor-3@2x';
@input-decor-4-2x-name: 'input-decor-4@2x';
@input-decor-4-2x-x: 1322px;
@input-decor-4-2x-y: 668px;
@input-decor-4-2x-offset-x: -1322px;
@input-decor-4-2x-offset-y: -668px;
@input-decor-4-2x-width: 66px;
@input-decor-4-2x-height: 74px;
@input-decor-4-2x-total-width: 2600px;
@input-decor-4-2x-total-height: 1080px;
@input-decor-4-2x-image: '../img/sprite@2x.png';
@input-decor-4-2x: 1322px 668px -1322px -668px 66px 74px 2600px 1080px '../img/sprite@2x.png' 'input-decor-4@2x';
@input-decor-5-2x-name: 'input-decor-5@2x';
@input-decor-5-2x-x: 1770px;
@input-decor-5-2x-y: 366px;
@input-decor-5-2x-offset-x: -1770px;
@input-decor-5-2x-offset-y: -366px;
@input-decor-5-2x-width: 52px;
@input-decor-5-2x-height: 44px;
@input-decor-5-2x-total-width: 2600px;
@input-decor-5-2x-total-height: 1080px;
@input-decor-5-2x-image: '../img/sprite@2x.png';
@input-decor-5-2x: 1770px 366px -1770px -366px 52px 44px 2600px 1080px '../img/sprite@2x.png' 'input-decor-5@2x';
@input-decor-6-2x-name: 'input-decor-6@2x';
@input-decor-6-2x-x: 1200px;
@input-decor-6-2x-y: 770px;
@input-decor-6-2x-offset-x: -1200px;
@input-decor-6-2x-offset-y: -770px;
@input-decor-6-2x-width: 64px;
@input-decor-6-2x-height: 76px;
@input-decor-6-2x-total-width: 2600px;
@input-decor-6-2x-total-height: 1080px;
@input-decor-6-2x-image: '../img/sprite@2x.png';
@input-decor-6-2x: 1200px 770px -1200px -770px 64px 76px 2600px 1080px '../img/sprite@2x.png' 'input-decor-6@2x';
@logo-2x-name: 'logo@2x';
@logo-2x-x: 1980px;
@logo-2x-y: 506px;
@logo-2x-offset-x: -1980px;
@logo-2x-offset-y: -506px;
@logo-2x-width: 110px;
@logo-2x-height: 94px;
@logo-2x-total-width: 2600px;
@logo-2x-total-height: 1080px;
@logo-2x-image: '../img/sprite@2x.png';
@logo-2x: 1980px 506px -1980px -506px 110px 94px 2600px 1080px '../img/sprite@2x.png' 'logo@2x';
@lupa-2x-name: 'lupa@2x';
@lupa-2x-x: 1260px;
@lupa-2x-y: 668px;
@lupa-2x-offset-x: -1260px;
@lupa-2x-offset-y: -668px;
@lupa-2x-width: 62px;
@lupa-2x-height: 96px;
@lupa-2x-total-width: 2600px;
@lupa-2x-total-height: 1080px;
@lupa-2x-image: '../img/sprite@2x.png';
@lupa-2x: 1260px 668px -1260px -668px 62px 96px 2600px 1080px '../img/sprite@2x.png' 'lupa@2x';
@map-zoom-in-2x-name: 'map-zoom-in@2x';
@map-zoom-in-2x-x: 1526px;
@map-zoom-in-2x-y: 506px;
@map-zoom-in-2x-offset-x: -1526px;
@map-zoom-in-2x-offset-y: -506px;
@map-zoom-in-2x-width: 116px;
@map-zoom-in-2x-height: 116px;
@map-zoom-in-2x-total-width: 2600px;
@map-zoom-in-2x-total-height: 1080px;
@map-zoom-in-2x-image: '../img/sprite@2x.png';
@map-zoom-in-2x: 1526px 506px -1526px -506px 116px 116px 2600px 1080px '../img/sprite@2x.png' 'map-zoom-in@2x';
@map-zoom-out-2x-name: 'map-zoom-out@2x';
@map-zoom-out-2x-x: 1410px;
@map-zoom-out-2x-y: 506px;
@map-zoom-out-2x-offset-x: -1410px;
@map-zoom-out-2x-offset-y: -506px;
@map-zoom-out-2x-width: 116px;
@map-zoom-out-2x-height: 116px;
@map-zoom-out-2x-total-width: 2600px;
@map-zoom-out-2x-total-height: 1080px;
@map-zoom-out-2x-image: '../img/sprite@2x.png';
@map-zoom-out-2x: 1410px 506px -1410px -506px 116px 116px 2600px 1080px '../img/sprite@2x.png' 'map-zoom-out@2x';
@nav-bg-2x-name: 'nav-bg@2x';
@nav-bg-2x-x: 0px;
@nav-bg-2x-y: 0px;
@nav-bg-2x-offset-x: 0px;
@nav-bg-2x-offset-y: 0px;
@nav-bg-2x-width: 638px;
@nav-bg-2x-height: 702px;
@nav-bg-2x-total-width: 2600px;
@nav-bg-2x-total-height: 1080px;
@nav-bg-2x-image: '../img/sprite@2x.png';
@nav-bg-2x: 0px 0px 0px 0px 638px 702px 2600px 1080px '../img/sprite@2x.png' 'nav-bg@2x';
@opinion-man-bottom-2x-name: 'opinion-man-bottom@2x';
@opinion-man-bottom-2x-x: 2180px;
@opinion-man-bottom-2x-y: 506px;
@opinion-man-bottom-2x-offset-x: -2180px;
@opinion-man-bottom-2x-offset-y: -506px;
@opinion-man-bottom-2x-width: 76px;
@opinion-man-bottom-2x-height: 80px;
@opinion-man-bottom-2x-total-width: 2600px;
@opinion-man-bottom-2x-total-height: 1080px;
@opinion-man-bottom-2x-image: '../img/sprite@2x.png';
@opinion-man-bottom-2x: 2180px 506px -2180px -506px 76px 80px 2600px 1080px '../img/sprite@2x.png' 'opinion-man-bottom@2x';
@opinion-man-top-2x-name: 'opinion-man-top@2x';
@opinion-man-top-2x-x: 1822px;
@opinion-man-top-2x-y: 366px;
@opinion-man-top-2x-offset-x: -1822px;
@opinion-man-top-2x-offset-y: -366px;
@opinion-man-top-2x-width: 48px;
@opinion-man-top-2x-height: 36px;
@opinion-man-top-2x-total-width: 2600px;
@opinion-man-top-2x-total-height: 1080px;
@opinion-man-top-2x-image: '../img/sprite@2x.png';
@opinion-man-top-2x: 1822px 366px -1822px -366px 48px 36px 2600px 1080px '../img/sprite@2x.png' 'opinion-man-top@2x';
@opinion-woman-bottom-2x-name: 'opinion-woman-bottom@2x';
@opinion-woman-bottom-2x-x: 1894px;
@opinion-woman-bottom-2x-y: 418px;
@opinion-woman-bottom-2x-offset-x: -1894px;
@opinion-woman-bottom-2x-offset-y: -418px;
@opinion-woman-bottom-2x-width: 80px;
@opinion-woman-bottom-2x-height: 62px;
@opinion-woman-bottom-2x-total-width: 2600px;
@opinion-woman-bottom-2x-total-height: 1080px;
@opinion-woman-bottom-2x-image: '../img/sprite@2x.png';
@opinion-woman-bottom-2x: 1894px 418px -1894px -418px 80px 62px 2600px 1080px '../img/sprite@2x.png' 'opinion-woman-bottom@2x';
@opinion-woman-top-2x-name: 'opinion-woman-top@2x';
@opinion-woman-top-2x-x: 2552px;
@opinion-woman-top-2x-y: 218px;
@opinion-woman-top-2x-offset-x: -2552px;
@opinion-woman-top-2x-offset-y: -218px;
@opinion-woman-top-2x-width: 48px;
@opinion-woman-top-2x-height: 58px;
@opinion-woman-top-2x-total-width: 2600px;
@opinion-woman-top-2x-total-height: 1080px;
@opinion-woman-top-2x-image: '../img/sprite@2x.png';
@opinion-woman-top-2x: 2552px 218px -2552px -218px 48px 58px 2600px 1080px '../img/sprite@2x.png' 'opinion-woman-top@2x';
@popup-close-2x-name: 'popup-close@2x';
@popup-close-2x-x: 2418px;
@popup-close-2x-y: 120px;
@popup-close-2x-offset-x: -2418px;
@popup-close-2x-offset-y: -120px;
@popup-close-2x-width: 140px;
@popup-close-2x-height: 90px;
@popup-close-2x-total-width: 2600px;
@popup-close-2x-total-height: 1080px;
@popup-close-2x-image: '../img/sprite@2x.png';
@popup-close-2x: 2418px 120px -2418px -120px 140px 90px 2600px 1080px '../img/sprite@2x.png' 'popup-close@2x';
@popup-send-ok-2x-name: 'popup-send-ok@2x';
@popup-send-ok-2x-x: 1410px;
@popup-send-ok-2x-y: 218px;
@popup-send-ok-2x-offset-x: -1410px;
@popup-send-ok-2x-offset-y: -218px;
@popup-send-ok-2x-width: 422px;
@popup-send-ok-2x-height: 118px;
@popup-send-ok-2x-total-width: 2600px;
@popup-send-ok-2x-total-height: 1080px;
@popup-send-ok-2x-image: '../img/sprite@2x.png';
@popup-send-ok-2x: 1410px 218px -1410px -218px 422px 118px 2600px 1080px '../img/sprite@2x.png' 'popup-send-ok@2x';
@popup-send-review-2x-name: 'popup-send-review@2x';
@popup-send-review-2x-x: 1410px;
@popup-send-review-2x-y: 336px;
@popup-send-review-2x-offset-x: -1410px;
@popup-send-review-2x-offset-y: -336px;
@popup-send-review-2x-width: 360px;
@popup-send-review-2x-height: 82px;
@popup-send-review-2x-total-width: 2600px;
@popup-send-review-2x-total-height: 1080px;
@popup-send-review-2x-image: '../img/sprite@2x.png';
@popup-send-review-2x: 1410px 336px -1410px -336px 360px 82px 2600px 1080px '../img/sprite@2x.png' 'popup-send-review@2x';
@popup-title-2x-name: 'popup-title@2x';
@popup-title-2x-x: 1928px;
@popup-title-2x-y: 120px;
@popup-title-2x-offset-x: -1928px;
@popup-title-2x-offset-y: -120px;
@popup-title-2x-width: 490px;
@popup-title-2x-height: 90px;
@popup-title-2x-total-width: 2600px;
@popup-title-2x-total-height: 1080px;
@popup-title-2x-image: '../img/sprite@2x.png';
@popup-title-2x: 1928px 120px -1928px -120px 490px 90px 2600px 1080px '../img/sprite@2x.png' 'popup-title@2x';
@popup-2x-name: 'popup@2x';
@popup-2x-x: 638px;
@popup-2x-y: 0px;
@popup-2x-offset-x: -638px;
@popup-2x-offset-y: 0px;
@popup-2x-width: 562px;
@popup-2x-height: 684px;
@popup-2x-total-width: 2600px;
@popup-2x-total-height: 1080px;
@popup-2x-image: '../img/sprite@2x.png';
@popup-2x: 638px 0px -638px 0px 562px 684px 2600px 1080px '../img/sprite@2x.png' 'popup@2x';
@review-btn-2x-name: 'review-btn@2x';
@review-btn-2x-x: 1832px;
@review-btn-2x-y: 218px;
@review-btn-2x-offset-x: -1832px;
@review-btn-2x-offset-y: -218px;
@review-btn-2x-width: 360px;
@review-btn-2x-height: 92px;
@review-btn-2x-total-width: 2600px;
@review-btn-2x-total-height: 1080px;
@review-btn-2x-image: '../img/sprite@2x.png';
@review-btn-2x: 1832px 218px -1832px -218px 360px 92px 2600px 1080px '../img/sprite@2x.png' 'review-btn@2x';
@review-head-2x-name: 'review-head@2x';
@review-head-2x-x: 1410px;
@review-head-2x-y: 418px;
@review-head-2x-offset-x: -1410px;
@review-head-2x-offset-y: -418px;
@review-head-2x-width: 274px;
@review-head-2x-height: 88px;
@review-head-2x-total-width: 2600px;
@review-head-2x-total-height: 1080px;
@review-head-2x-image: '../img/sprite@2x.png';
@review-head-2x: 1410px 418px -1410px -418px 274px 88px 2600px 1080px '../img/sprite@2x.png' 'review-head@2x';
@slider-btn-next-2x-name: 'slider-btn-next@2x';
@slider-btn-next-2x-x: 1642px;
@slider-btn-next-2x-y: 506px;
@slider-btn-next-2x-offset-x: -1642px;
@slider-btn-next-2x-offset-y: -506px;
@slider-btn-next-2x-width: 114px;
@slider-btn-next-2x-height: 116px;
@slider-btn-next-2x-total-width: 2600px;
@slider-btn-next-2x-total-height: 1080px;
@slider-btn-next-2x-image: '../img/sprite@2x.png';
@slider-btn-next-2x: 1642px 506px -1642px -506px 114px 116px 2600px 1080px '../img/sprite@2x.png' 'slider-btn-next@2x';
@slider-btn-prev-2x-name: 'slider-btn-prev@2x';
@slider-btn-prev-2x-x: 1756px;
@slider-btn-prev-2x-y: 506px;
@slider-btn-prev-2x-offset-x: -1756px;
@slider-btn-prev-2x-offset-y: -506px;
@slider-btn-prev-2x-width: 114px;
@slider-btn-prev-2x-height: 116px;
@slider-btn-prev-2x-total-width: 2600px;
@slider-btn-prev-2x-total-height: 1080px;
@slider-btn-prev-2x-image: '../img/sprite@2x.png';
@slider-btn-prev-2x: 1756px 506px -1756px -506px 114px 116px 2600px 1080px '../img/sprite@2x.png' 'slider-btn-prev@2x';
@spritesheet-width: 1300px;
@spritesheet-height: 540px;
@spritesheet-image: '../img/sprite.png';
@spritesheet-sprites: @close @concept-box @concept-head @footer-bg @footer-head @footer-icon @footer-map-button @footer-phone @frame-hands-small @frame-hands @input-decor-1 @input-decor-2 @input-decor-3 @input-decor-4 @input-decor-5 @input-decor-6 @logo @lupa @map-zoom-in @map-zoom-out @nav-bg @opinion-man-bottom @opinion-man-top @opinion-woman-bottom @opinion-woman-top @popup-close @popup-send-ok @popup-send-review @popup-title @popup @review-btn @review-head @slider-btn-next @slider-btn-prev;
@spritesheet: 1300px 540px '../img/sprite.png' @spritesheet-sprites;
@retina-spritesheet-width: 2600px;
@retina-spritesheet-height: 1080px;
@retina-spritesheet-image: '../img/sprite@2x.png';
@retina-spritesheet-sprites: @close-2x @concept-box-2x @concept-head-2x @footer-bg-2x @footer-head-2x @footer-icon-2x @footer-map-button-2x @footer-phone-2x @frame-hands-small-2x @frame-hands-2x @input-decor-1-2x @input-decor-2-2x @input-decor-3-2x @input-decor-4-2x @input-decor-5-2x @input-decor-6-2x @logo-2x @lupa-2x @map-zoom-in-2x @map-zoom-out-2x @nav-bg-2x @opinion-man-bottom-2x @opinion-man-top-2x @opinion-woman-bottom-2x @opinion-woman-top-2x @popup-close-2x @popup-send-ok-2x @popup-send-review-2x @popup-title-2x @popup-2x @review-btn-2x @review-head-2x @slider-btn-next-2x @slider-btn-prev-2x;
@retina-spritesheet: 2600px 1080px '../img/sprite@2x.png' @retina-spritesheet-sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
@close-group-name: 'close';
@close-group: 'close' @close @close-2x;
@concept-box-group-name: 'concept-box';
@concept-box-group: 'concept-box' @concept-box @concept-box-2x;
@concept-head-group-name: 'concept-head';
@concept-head-group: 'concept-head' @concept-head @concept-head-2x;
@footer-bg-group-name: 'footer-bg';
@footer-bg-group: 'footer-bg' @footer-bg @footer-bg-2x;
@footer-head-group-name: 'footer-head';
@footer-head-group: 'footer-head' @footer-head @footer-head-2x;
@footer-icon-group-name: 'footer-icon';
@footer-icon-group: 'footer-icon' @footer-icon @footer-icon-2x;
@footer-map-button-group-name: 'footer-map-button';
@footer-map-button-group: 'footer-map-button' @footer-map-button @footer-map-button-2x;
@footer-phone-group-name: 'footer-phone';
@footer-phone-group: 'footer-phone' @footer-phone @footer-phone-2x;
@frame-hands-small-group-name: 'frame-hands-small';
@frame-hands-small-group: 'frame-hands-small' @frame-hands-small @frame-hands-small-2x;
@frame-hands-group-name: 'frame-hands';
@frame-hands-group: 'frame-hands' @frame-hands @frame-hands-2x;
@input-decor-1-group-name: 'input-decor-1';
@input-decor-1-group: 'input-decor-1' @input-decor-1 @input-decor-1-2x;
@input-decor-2-group-name: 'input-decor-2';
@input-decor-2-group: 'input-decor-2' @input-decor-2 @input-decor-2-2x;
@input-decor-3-group-name: 'input-decor-3';
@input-decor-3-group: 'input-decor-3' @input-decor-3 @input-decor-3-2x;
@input-decor-4-group-name: 'input-decor-4';
@input-decor-4-group: 'input-decor-4' @input-decor-4 @input-decor-4-2x;
@input-decor-5-group-name: 'input-decor-5';
@input-decor-5-group: 'input-decor-5' @input-decor-5 @input-decor-5-2x;
@input-decor-6-group-name: 'input-decor-6';
@input-decor-6-group: 'input-decor-6' @input-decor-6 @input-decor-6-2x;
@logo-group-name: 'logo';
@logo-group: 'logo' @logo @logo-2x;
@lupa-group-name: 'lupa';
@lupa-group: 'lupa' @lupa @lupa-2x;
@map-zoom-in-group-name: 'map-zoom-in';
@map-zoom-in-group: 'map-zoom-in' @map-zoom-in @map-zoom-in-2x;
@map-zoom-out-group-name: 'map-zoom-out';
@map-zoom-out-group: 'map-zoom-out' @map-zoom-out @map-zoom-out-2x;
@nav-bg-group-name: 'nav-bg';
@nav-bg-group: 'nav-bg' @nav-bg @nav-bg-2x;
@opinion-man-bottom-group-name: 'opinion-man-bottom';
@opinion-man-bottom-group: 'opinion-man-bottom' @opinion-man-bottom @opinion-man-bottom-2x;
@opinion-man-top-group-name: 'opinion-man-top';
@opinion-man-top-group: 'opinion-man-top' @opinion-man-top @opinion-man-top-2x;
@opinion-woman-bottom-group-name: 'opinion-woman-bottom';
@opinion-woman-bottom-group: 'opinion-woman-bottom' @opinion-woman-bottom @opinion-woman-bottom-2x;
@opinion-woman-top-group-name: 'opinion-woman-top';
@opinion-woman-top-group: 'opinion-woman-top' @opinion-woman-top @opinion-woman-top-2x;
@popup-close-group-name: 'popup-close';
@popup-close-group: 'popup-close' @popup-close @popup-close-2x;
@popup-send-ok-group-name: 'popup-send-ok';
@popup-send-ok-group: 'popup-send-ok' @popup-send-ok @popup-send-ok-2x;
@popup-send-review-group-name: 'popup-send-review';
@popup-send-review-group: 'popup-send-review' @popup-send-review @popup-send-review-2x;
@popup-title-group-name: 'popup-title';
@popup-title-group: 'popup-title' @popup-title @popup-title-2x;
@popup-group-name: 'popup';
@popup-group: 'popup' @popup @popup-2x;
@review-btn-group-name: 'review-btn';
@review-btn-group: 'review-btn' @review-btn @review-btn-2x;
@review-head-group-name: 'review-head';
@review-head-group: 'review-head' @review-head @review-head-2x;
@slider-btn-next-group-name: 'slider-btn-next';
@slider-btn-next-group: 'slider-btn-next' @slider-btn-next @slider-btn-next-2x;
@slider-btn-prev-group-name: 'slider-btn-prev';
@slider-btn-prev-group: 'slider-btn-prev' @slider-btn-prev @slider-btn-prev-2x;
@retina-groups: @close-group @concept-box-group @concept-head-group @footer-bg-group @footer-head-group @footer-icon-group @footer-map-button-group @footer-phone-group @frame-hands-small-group @frame-hands-group @input-decor-1-group @input-decor-2-group @input-decor-3-group @input-decor-4-group @input-decor-5-group @input-decor-6-group @logo-group @lupa-group @map-zoom-in-group @map-zoom-out-group @nav-bg-group @opinion-man-bottom-group @opinion-man-top-group @opinion-woman-bottom-group @opinion-woman-top-group @popup-close-group @popup-send-ok-group @popup-send-review-group @popup-title-group @popup-group @review-btn-group @review-head-group @slider-btn-next-group @slider-btn-prev-group;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `retina-sprite` class sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

@icon-home-group: 'icon-home' @icon-home @icon-home-2x;

.icon-home {
  .retina-sprite(@icon-home-group);
}
*/
.sprite-background-size(@sprite) {
  @sprite-total-width: extract(@sprite, 7);
  @sprite-total-height: extract(@sprite, 8);
  background-size: @sprite-total-width @sprite-total-height;
}

.retina-sprite(@retina-group) {
  @normal-sprite: extract(@retina-group, 2);
  @retina-sprite: extract(@retina-group, 3);
  .sprite(@normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    .sprite-image(@retina-sprite);
    .sprite-background-size(@normal-sprite);
  }
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}

/*
The `.retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in LESS

.retina-sprites(@retina-groups);
*/
.retina-sprites(@retina-groups, @i: 1) when (@i <= length(@retina-groups)) {
  @retina-group: extract(@retina-groups, @i);
  @sprite-name: e(extract(@retina-group, 1));
  .@{sprite-name} {
    .retina-sprite(@retina-group);
  }
  .retina-sprites(@retina-groups, @i + 1);
}
