/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@close-name: 'close';
@close-x: 815px;
@close-y: 183px;
@close-offset-x: -815px;
@close-offset-y: -183px;
@close-width: 45px;
@close-height: 45px;
@close-total-width: 1300px;
@close-total-height: 525px;
@close-image: '../img/sprite.png';
@close: 815px 183px -815px -183px 45px 45px 1300px 525px '../img/sprite.png' 'close';
@concept-box-name: 'concept-box';
@concept-box-x: 0px;
@concept-box-y: 351px;
@concept-box-offset-x: 0px;
@concept-box-offset-y: -351px;
@concept-box-width: 296px;
@concept-box-height: 174px;
@concept-box-total-width: 1300px;
@concept-box-total-height: 525px;
@concept-box-image: '../img/sprite.png';
@concept-box: 0px 351px 0px -351px 296px 174px 1300px 525px '../img/sprite.png' 'concept-box';
@concept-head-name: 'concept-head';
@concept-head-x: 600px;
@concept-head-y: 0px;
@concept-head-offset-x: -600px;
@concept-head-offset-y: 0px;
@concept-head-width: 700px;
@concept-head-height: 60px;
@concept-head-total-width: 1300px;
@concept-head-total-height: 525px;
@concept-head-image: '../img/sprite.png';
@concept-head: 600px 0px -600px 0px 700px 60px 1300px 525px '../img/sprite.png' 'concept-head';
@footer-bg-name: 'footer-bg';
@footer-bg-x: 600px;
@footer-bg-y: 60px;
@footer-bg-offset-x: -600px;
@footer-bg-offset-y: -60px;
@footer-bg-width: 105px;
@footer-bg-height: 274px;
@footer-bg-total-width: 1300px;
@footer-bg-total-height: 525px;
@footer-bg-image: '../img/sprite.png';
@footer-bg: 600px 60px -600px -60px 105px 274px 1300px 525px '../img/sprite.png' 'footer-bg';
@footer-head-name: 'footer-head';
@footer-head-x: 916px;
@footer-head-y: 109px;
@footer-head-offset-x: -916px;
@footer-head-offset-y: -109px;
@footer-head-width: 180px;
@footer-head-height: 45px;
@footer-head-total-width: 1300px;
@footer-head-total-height: 525px;
@footer-head-image: '../img/sprite.png';
@footer-head: 916px 109px -916px -109px 180px 45px 1300px 525px '../img/sprite.png' 'footer-head';
@footer-icon-name: 'footer-icon';
@footer-icon-x: 705px;
@footer-icon-y: 183px;
@footer-icon-offset-x: -705px;
@footer-icon-offset-y: -183px;
@footer-icon-width: 55px;
@footer-icon-height: 52px;
@footer-icon-total-width: 1300px;
@footer-icon-total-height: 525px;
@footer-icon-image: '../img/sprite.png';
@footer-icon: 705px 183px -705px -183px 55px 52px 1300px 525px '../img/sprite.png' 'footer-icon';
@footer-map-button-name: 'footer-map-button';
@footer-map-button-x: 705px;
@footer-map-button-y: 60px;
@footer-map-button-offset-x: -705px;
@footer-map-button-offset-y: -60px;
@footer-map-button-width: 259px;
@footer-map-button-height: 49px;
@footer-map-button-total-width: 1300px;
@footer-map-button-total-height: 525px;
@footer-map-button-image: '../img/sprite.png';
@footer-map-button: 705px 60px -705px -60px 259px 49px 1300px 525px '../img/sprite.png' 'footer-map-button';
@footer-phone-name: 'footer-phone';
@footer-phone-x: 910px;
@footer-phone-y: 183px;
@footer-phone-offset-x: -910px;
@footer-phone-offset-y: -183px;
@footer-phone-width: 55px;
@footer-phone-height: 34px;
@footer-phone-total-width: 1300px;
@footer-phone-total-height: 525px;
@footer-phone-image: '../img/sprite.png';
@footer-phone: 910px 183px -910px -183px 55px 34px 1300px 525px '../img/sprite.png' 'footer-phone';
@frame-hands-small-name: 'frame-hands-small';
@frame-hands-small-x: 960px;
@frame-hands-small-y: 168px;
@frame-hands-small-offset-x: -960px;
@frame-hands-small-offset-y: -168px;
@frame-hands-small-width: 100px;
@frame-hands-small-height: 15px;
@frame-hands-small-total-width: 1300px;
@frame-hands-small-total-height: 525px;
@frame-hands-small-image: '../img/sprite.png';
@frame-hands-small: 960px 168px -960px -168px 100px 15px 1300px 525px '../img/sprite.png' 'frame-hands-small';
@frame-hands-name: 'frame-hands';
@frame-hands-x: 705px;
@frame-hands-y: 168px;
@frame-hands-offset-x: -705px;
@frame-hands-offset-y: -168px;
@frame-hands-width: 255px;
@frame-hands-height: 15px;
@frame-hands-total-width: 1300px;
@frame-hands-total-height: 525px;
@frame-hands-image: '../img/sprite.png';
@frame-hands: 705px 168px -705px -168px 255px 15px 1300px 525px '../img/sprite.png' 'frame-hands';
@input-decor-1-name: 'input-decor-1';
@input-decor-1-x: 735px;
@input-decor-1-y: 235px;
@input-decor-1-offset-x: -735px;
@input-decor-1-offset-y: -235px;
@input-decor-1-width: 36px;
@input-decor-1-height: 36px;
@input-decor-1-total-width: 1300px;
@input-decor-1-total-height: 525px;
@input-decor-1-image: '../img/sprite.png';
@input-decor-1: 735px 235px -735px -235px 36px 36px 1300px 525px '../img/sprite.png' 'input-decor-1';
@input-decor-2-name: 'input-decor-2';
@input-decor-2-x: 860px;
@input-decor-2-y: 183px;
@input-decor-2-offset-x: -860px;
@input-decor-2-offset-y: -183px;
@input-decor-2-width: 50px;
@input-decor-2-height: 39px;
@input-decor-2-total-width: 1300px;
@input-decor-2-total-height: 525px;
@input-decor-2-image: '../img/sprite.png';
@input-decor-2: 860px 183px -860px -183px 50px 39px 1300px 525px '../img/sprite.png' 'input-decor-2';
@input-decor-3-name: 'input-decor-3';
@input-decor-3-x: 705px;
@input-decor-3-y: 235px;
@input-decor-3-offset-x: -705px;
@input-decor-3-offset-y: -235px;
@input-decor-3-width: 30px;
@input-decor-3-height: 51px;
@input-decor-3-total-width: 1300px;
@input-decor-3-total-height: 525px;
@input-decor-3-image: '../img/sprite.png';
@input-decor-3: 705px 235px -705px -235px 30px 51px 1300px 525px '../img/sprite.png' 'input-decor-3';
@input-decor-4-name: 'input-decor-4';
@input-decor-4-x: 705px;
@input-decor-4-y: 286px;
@input-decor-4-offset-x: -705px;
@input-decor-4-offset-y: -286px;
@input-decor-4-width: 33px;
@input-decor-4-height: 37px;
@input-decor-4-total-width: 1300px;
@input-decor-4-total-height: 525px;
@input-decor-4-image: '../img/sprite.png';
@input-decor-4: 705px 286px -705px -286px 33px 37px 1300px 525px '../img/sprite.png' 'input-decor-4';
@input-decor-5-name: 'input-decor-5';
@input-decor-5-x: 965px;
@input-decor-5-y: 183px;
@input-decor-5-offset-x: -965px;
@input-decor-5-offset-y: -183px;
@input-decor-5-width: 26px;
@input-decor-5-height: 22px;
@input-decor-5-total-width: 1300px;
@input-decor-5-total-height: 525px;
@input-decor-5-image: '../img/sprite.png';
@input-decor-5: 965px 183px -965px -183px 26px 22px 1300px 525px '../img/sprite.png' 'input-decor-5';
@input-decor-6-name: 'input-decor-6';
@input-decor-6-x: 600px;
@input-decor-6-y: 334px;
@input-decor-6-offset-x: -600px;
@input-decor-6-offset-y: -334px;
@input-decor-6-width: 32px;
@input-decor-6-height: 38px;
@input-decor-6-total-width: 1300px;
@input-decor-6-total-height: 525px;
@input-decor-6-image: '../img/sprite.png';
@input-decor-6: 600px 334px -600px -334px 32px 38px 1300px 525px '../img/sprite.png' 'input-decor-6';
@logo-name: 'logo';
@logo-x: 760px;
@logo-y: 183px;
@logo-offset-x: -760px;
@logo-offset-y: -183px;
@logo-width: 55px;
@logo-height: 47px;
@logo-total-width: 1300px;
@logo-total-height: 525px;
@logo-image: '../img/sprite.png';
@logo: 760px 183px -760px -183px 55px 47px 1300px 525px '../img/sprite.png' 'logo';
@nav-bg-name: 'nav-bg';
@nav-bg-x: 0px;
@nav-bg-y: 0px;
@nav-bg-offset-x: 0px;
@nav-bg-offset-y: 0px;
@nav-bg-width: 319px;
@nav-bg-height: 351px;
@nav-bg-total-width: 1300px;
@nav-bg-total-height: 525px;
@nav-bg-image: '../img/sprite.png';
@nav-bg: 0px 0px 0px 0px 319px 351px 1300px 525px '../img/sprite.png' 'nav-bg';
@popup-send-ok-name: 'popup-send-ok';
@popup-send-ok-x: 705px;
@popup-send-ok-y: 109px;
@popup-send-ok-offset-x: -705px;
@popup-send-ok-offset-y: -109px;
@popup-send-ok-width: 211px;
@popup-send-ok-height: 59px;
@popup-send-ok-total-width: 1300px;
@popup-send-ok-total-height: 525px;
@popup-send-ok-image: '../img/sprite.png';
@popup-send-ok: 705px 109px -705px -109px 211px 59px 1300px 525px '../img/sprite.png' 'popup-send-ok';
@popup-send-review-name: 'popup-send-review';
@popup-send-review-x: 1096px;
@popup-send-review-y: 109px;
@popup-send-review-offset-x: -1096px;
@popup-send-review-offset-y: -109px;
@popup-send-review-width: 180px;
@popup-send-review-height: 41px;
@popup-send-review-total-width: 1300px;
@popup-send-review-total-height: 525px;
@popup-send-review-image: '../img/sprite.png';
@popup-send-review: 1096px 109px -1096px -109px 180px 41px 1300px 525px '../img/sprite.png' 'popup-send-review';
@popup-name: 'popup';
@popup-x: 319px;
@popup-y: 0px;
@popup-offset-x: -319px;
@popup-offset-y: 0px;
@popup-width: 281px;
@popup-height: 342px;
@popup-total-width: 1300px;
@popup-total-height: 525px;
@popup-image: '../img/sprite.png';
@popup: 319px 0px -319px 0px 281px 342px 1300px 525px '../img/sprite.png' 'popup';
@review-btn-name: 'review-btn';
@review-btn-x: 964px;
@review-btn-y: 60px;
@review-btn-offset-x: -964px;
@review-btn-offset-y: -60px;
@review-btn-width: 180px;
@review-btn-height: 46px;
@review-btn-total-width: 1300px;
@review-btn-total-height: 525px;
@review-btn-image: '../img/sprite.png';
@review-btn: 964px 60px -964px -60px 180px 46px 1300px 525px '../img/sprite.png' 'review-btn';
@review-head-name: 'review-head';
@review-head-x: 1144px;
@review-head-y: 60px;
@review-head-offset-x: -1144px;
@review-head-offset-y: -60px;
@review-head-width: 137px;
@review-head-height: 44px;
@review-head-total-width: 1300px;
@review-head-total-height: 525px;
@review-head-image: '../img/sprite.png';
@review-head: 1144px 60px -1144px -60px 137px 44px 1300px 525px '../img/sprite.png' 'review-head';
@close-2x-name: 'close@2x';
@close-2x-x: 1630px;
@close-2x-y: 366px;
@close-2x-offset-x: -1630px;
@close-2x-offset-y: -366px;
@close-2x-width: 90px;
@close-2x-height: 90px;
@close-2x-total-width: 2600px;
@close-2x-total-height: 1050px;
@close-2x-image: '../img/sprite@2x.png';
@close-2x: 1630px 366px -1630px -366px 90px 90px 2600px 1050px '../img/sprite@2x.png' 'close@2x';
@concept-box-2x-name: 'concept-box@2x';
@concept-box-2x-x: 0px;
@concept-box-2x-y: 702px;
@concept-box-2x-offset-x: 0px;
@concept-box-2x-offset-y: -702px;
@concept-box-2x-width: 592px;
@concept-box-2x-height: 348px;
@concept-box-2x-total-width: 2600px;
@concept-box-2x-total-height: 1050px;
@concept-box-2x-image: '../img/sprite@2x.png';
@concept-box-2x: 0px 702px 0px -702px 592px 348px 2600px 1050px '../img/sprite@2x.png' 'concept-box@2x';
@concept-head-2x-name: 'concept-head@2x';
@concept-head-2x-x: 1200px;
@concept-head-2x-y: 0px;
@concept-head-2x-offset-x: -1200px;
@concept-head-2x-offset-y: 0px;
@concept-head-2x-width: 1400px;
@concept-head-2x-height: 120px;
@concept-head-2x-total-width: 2600px;
@concept-head-2x-total-height: 1050px;
@concept-head-2x-image: '../img/sprite@2x.png';
@concept-head-2x: 1200px 0px -1200px 0px 1400px 120px 2600px 1050px '../img/sprite@2x.png' 'concept-head@2x';
@footer-bg-2x-name: 'footer-bg@2x';
@footer-bg-2x-x: 1200px;
@footer-bg-2x-y: 120px;
@footer-bg-2x-offset-x: -1200px;
@footer-bg-2x-offset-y: -120px;
@footer-bg-2x-width: 210px;
@footer-bg-2x-height: 548px;
@footer-bg-2x-total-width: 2600px;
@footer-bg-2x-total-height: 1050px;
@footer-bg-2x-image: '../img/sprite@2x.png';
@footer-bg-2x: 1200px 120px -1200px -120px 210px 548px 2600px 1050px '../img/sprite@2x.png' 'footer-bg@2x';
@footer-head-2x-name: 'footer-head@2x';
@footer-head-2x-x: 1832px;
@footer-head-2x-y: 218px;
@footer-head-2x-offset-x: -1832px;
@footer-head-2x-offset-y: -218px;
@footer-head-2x-width: 360px;
@footer-head-2x-height: 90px;
@footer-head-2x-total-width: 2600px;
@footer-head-2x-total-height: 1050px;
@footer-head-2x-image: '../img/sprite@2x.png';
@footer-head-2x: 1832px 218px -1832px -218px 360px 90px 2600px 1050px '../img/sprite@2x.png' 'footer-head@2x';
@footer-icon-2x-name: 'footer-icon@2x';
@footer-icon-2x-x: 1410px;
@footer-icon-2x-y: 366px;
@footer-icon-2x-offset-x: -1410px;
@footer-icon-2x-offset-y: -366px;
@footer-icon-2x-width: 110px;
@footer-icon-2x-height: 104px;
@footer-icon-2x-total-width: 2600px;
@footer-icon-2x-total-height: 1050px;
@footer-icon-2x-image: '../img/sprite@2x.png';
@footer-icon-2x: 1410px 366px -1410px -366px 110px 104px 2600px 1050px '../img/sprite@2x.png' 'footer-icon@2x';
@footer-map-button-2x-name: 'footer-map-button@2x';
@footer-map-button-2x-x: 1410px;
@footer-map-button-2x-y: 120px;
@footer-map-button-2x-offset-x: -1410px;
@footer-map-button-2x-offset-y: -120px;
@footer-map-button-2x-width: 518px;
@footer-map-button-2x-height: 98px;
@footer-map-button-2x-total-width: 2600px;
@footer-map-button-2x-total-height: 1050px;
@footer-map-button-2x-image: '../img/sprite@2x.png';
@footer-map-button-2x: 1410px 120px -1410px -120px 518px 98px 2600px 1050px '../img/sprite@2x.png' 'footer-map-button@2x';
@footer-phone-2x-name: 'footer-phone@2x';
@footer-phone-2x-x: 1820px;
@footer-phone-2x-y: 366px;
@footer-phone-2x-offset-x: -1820px;
@footer-phone-2x-offset-y: -366px;
@footer-phone-2x-width: 110px;
@footer-phone-2x-height: 68px;
@footer-phone-2x-total-width: 2600px;
@footer-phone-2x-total-height: 1050px;
@footer-phone-2x-image: '../img/sprite@2x.png';
@footer-phone-2x: 1820px 366px -1820px -366px 110px 68px 2600px 1050px '../img/sprite@2x.png' 'footer-phone@2x';
@frame-hands-small-2x-name: 'frame-hands-small@2x';
@frame-hands-small-2x-x: 1920px;
@frame-hands-small-2x-y: 336px;
@frame-hands-small-2x-offset-x: -1920px;
@frame-hands-small-2x-offset-y: -336px;
@frame-hands-small-2x-width: 200px;
@frame-hands-small-2x-height: 30px;
@frame-hands-small-2x-total-width: 2600px;
@frame-hands-small-2x-total-height: 1050px;
@frame-hands-small-2x-image: '../img/sprite@2x.png';
@frame-hands-small-2x: 1920px 336px -1920px -336px 200px 30px 2600px 1050px '../img/sprite@2x.png' 'frame-hands-small@2x';
@frame-hands-2x-name: 'frame-hands@2x';
@frame-hands-2x-x: 1410px;
@frame-hands-2x-y: 336px;
@frame-hands-2x-offset-x: -1410px;
@frame-hands-2x-offset-y: -336px;
@frame-hands-2x-width: 510px;
@frame-hands-2x-height: 30px;
@frame-hands-2x-total-width: 2600px;
@frame-hands-2x-total-height: 1050px;
@frame-hands-2x-image: '../img/sprite@2x.png';
@frame-hands-2x: 1410px 336px -1410px -336px 510px 30px 2600px 1050px '../img/sprite@2x.png' 'frame-hands@2x';
@input-decor-1-2x-name: 'input-decor-1@2x';
@input-decor-1-2x-x: 1470px;
@input-decor-1-2x-y: 470px;
@input-decor-1-2x-offset-x: -1470px;
@input-decor-1-2x-offset-y: -470px;
@input-decor-1-2x-width: 72px;
@input-decor-1-2x-height: 72px;
@input-decor-1-2x-total-width: 2600px;
@input-decor-1-2x-total-height: 1050px;
@input-decor-1-2x-image: '../img/sprite@2x.png';
@input-decor-1-2x: 1470px 470px -1470px -470px 72px 72px 2600px 1050px '../img/sprite@2x.png' 'input-decor-1@2x';
@input-decor-2-2x-name: 'input-decor-2@2x';
@input-decor-2-2x-x: 1720px;
@input-decor-2-2x-y: 366px;
@input-decor-2-2x-offset-x: -1720px;
@input-decor-2-2x-offset-y: -366px;
@input-decor-2-2x-width: 100px;
@input-decor-2-2x-height: 78px;
@input-decor-2-2x-total-width: 2600px;
@input-decor-2-2x-total-height: 1050px;
@input-decor-2-2x-image: '../img/sprite@2x.png';
@input-decor-2-2x: 1720px 366px -1720px -366px 100px 78px 2600px 1050px '../img/sprite@2x.png' 'input-decor-2@2x';
@input-decor-3-2x-name: 'input-decor-3@2x';
@input-decor-3-2x-x: 1410px;
@input-decor-3-2x-y: 470px;
@input-decor-3-2x-offset-x: -1410px;
@input-decor-3-2x-offset-y: -470px;
@input-decor-3-2x-width: 60px;
@input-decor-3-2x-height: 102px;
@input-decor-3-2x-total-width: 2600px;
@input-decor-3-2x-total-height: 1050px;
@input-decor-3-2x-image: '../img/sprite@2x.png';
@input-decor-3-2x: 1410px 470px -1410px -470px 60px 102px 2600px 1050px '../img/sprite@2x.png' 'input-decor-3@2x';
@input-decor-4-2x-name: 'input-decor-4@2x';
@input-decor-4-2x-x: 1410px;
@input-decor-4-2x-y: 572px;
@input-decor-4-2x-offset-x: -1410px;
@input-decor-4-2x-offset-y: -572px;
@input-decor-4-2x-width: 66px;
@input-decor-4-2x-height: 74px;
@input-decor-4-2x-total-width: 2600px;
@input-decor-4-2x-total-height: 1050px;
@input-decor-4-2x-image: '../img/sprite@2x.png';
@input-decor-4-2x: 1410px 572px -1410px -572px 66px 74px 2600px 1050px '../img/sprite@2x.png' 'input-decor-4@2x';
@input-decor-5-2x-name: 'input-decor-5@2x';
@input-decor-5-2x-x: 1930px;
@input-decor-5-2x-y: 366px;
@input-decor-5-2x-offset-x: -1930px;
@input-decor-5-2x-offset-y: -366px;
@input-decor-5-2x-width: 52px;
@input-decor-5-2x-height: 44px;
@input-decor-5-2x-total-width: 2600px;
@input-decor-5-2x-total-height: 1050px;
@input-decor-5-2x-image: '../img/sprite@2x.png';
@input-decor-5-2x: 1930px 366px -1930px -366px 52px 44px 2600px 1050px '../img/sprite@2x.png' 'input-decor-5@2x';
@input-decor-6-2x-name: 'input-decor-6@2x';
@input-decor-6-2x-x: 1200px;
@input-decor-6-2x-y: 668px;
@input-decor-6-2x-offset-x: -1200px;
@input-decor-6-2x-offset-y: -668px;
@input-decor-6-2x-width: 64px;
@input-decor-6-2x-height: 76px;
@input-decor-6-2x-total-width: 2600px;
@input-decor-6-2x-total-height: 1050px;
@input-decor-6-2x-image: '../img/sprite@2x.png';
@input-decor-6-2x: 1200px 668px -1200px -668px 64px 76px 2600px 1050px '../img/sprite@2x.png' 'input-decor-6@2x';
@logo-2x-name: 'logo@2x';
@logo-2x-x: 1520px;
@logo-2x-y: 366px;
@logo-2x-offset-x: -1520px;
@logo-2x-offset-y: -366px;
@logo-2x-width: 110px;
@logo-2x-height: 94px;
@logo-2x-total-width: 2600px;
@logo-2x-total-height: 1050px;
@logo-2x-image: '../img/sprite@2x.png';
@logo-2x: 1520px 366px -1520px -366px 110px 94px 2600px 1050px '../img/sprite@2x.png' 'logo@2x';
@nav-bg-2x-name: 'nav-bg@2x';
@nav-bg-2x-x: 0px;
@nav-bg-2x-y: 0px;
@nav-bg-2x-offset-x: 0px;
@nav-bg-2x-offset-y: 0px;
@nav-bg-2x-width: 638px;
@nav-bg-2x-height: 702px;
@nav-bg-2x-total-width: 2600px;
@nav-bg-2x-total-height: 1050px;
@nav-bg-2x-image: '../img/sprite@2x.png';
@nav-bg-2x: 0px 0px 0px 0px 638px 702px 2600px 1050px '../img/sprite@2x.png' 'nav-bg@2x';
@popup-send-ok-2x-name: 'popup-send-ok@2x';
@popup-send-ok-2x-x: 1410px;
@popup-send-ok-2x-y: 218px;
@popup-send-ok-2x-offset-x: -1410px;
@popup-send-ok-2x-offset-y: -218px;
@popup-send-ok-2x-width: 422px;
@popup-send-ok-2x-height: 118px;
@popup-send-ok-2x-total-width: 2600px;
@popup-send-ok-2x-total-height: 1050px;
@popup-send-ok-2x-image: '../img/sprite@2x.png';
@popup-send-ok-2x: 1410px 218px -1410px -218px 422px 118px 2600px 1050px '../img/sprite@2x.png' 'popup-send-ok@2x';
@popup-send-review-2x-name: 'popup-send-review@2x';
@popup-send-review-2x-x: 2192px;
@popup-send-review-2x-y: 218px;
@popup-send-review-2x-offset-x: -2192px;
@popup-send-review-2x-offset-y: -218px;
@popup-send-review-2x-width: 360px;
@popup-send-review-2x-height: 82px;
@popup-send-review-2x-total-width: 2600px;
@popup-send-review-2x-total-height: 1050px;
@popup-send-review-2x-image: '../img/sprite@2x.png';
@popup-send-review-2x: 2192px 218px -2192px -218px 360px 82px 2600px 1050px '../img/sprite@2x.png' 'popup-send-review@2x';
@popup-2x-name: 'popup@2x';
@popup-2x-x: 638px;
@popup-2x-y: 0px;
@popup-2x-offset-x: -638px;
@popup-2x-offset-y: 0px;
@popup-2x-width: 562px;
@popup-2x-height: 684px;
@popup-2x-total-width: 2600px;
@popup-2x-total-height: 1050px;
@popup-2x-image: '../img/sprite@2x.png';
@popup-2x: 638px 0px -638px 0px 562px 684px 2600px 1050px '../img/sprite@2x.png' 'popup@2x';
@review-btn-2x-name: 'review-btn@2x';
@review-btn-2x-x: 1928px;
@review-btn-2x-y: 120px;
@review-btn-2x-offset-x: -1928px;
@review-btn-2x-offset-y: -120px;
@review-btn-2x-width: 360px;
@review-btn-2x-height: 92px;
@review-btn-2x-total-width: 2600px;
@review-btn-2x-total-height: 1050px;
@review-btn-2x-image: '../img/sprite@2x.png';
@review-btn-2x: 1928px 120px -1928px -120px 360px 92px 2600px 1050px '../img/sprite@2x.png' 'review-btn@2x';
@review-head-2x-name: 'review-head@2x';
@review-head-2x-x: 2288px;
@review-head-2x-y: 120px;
@review-head-2x-offset-x: -2288px;
@review-head-2x-offset-y: -120px;
@review-head-2x-width: 274px;
@review-head-2x-height: 88px;
@review-head-2x-total-width: 2600px;
@review-head-2x-total-height: 1050px;
@review-head-2x-image: '../img/sprite@2x.png';
@review-head-2x: 2288px 120px -2288px -120px 274px 88px 2600px 1050px '../img/sprite@2x.png' 'review-head@2x';
@spritesheet-width: 1300px;
@spritesheet-height: 525px;
@spritesheet-image: '../img/sprite.png';
@spritesheet-sprites: @close @concept-box @concept-head @footer-bg @footer-head @footer-icon @footer-map-button @footer-phone @frame-hands-small @frame-hands @input-decor-1 @input-decor-2 @input-decor-3 @input-decor-4 @input-decor-5 @input-decor-6 @logo @nav-bg @popup-send-ok @popup-send-review @popup @review-btn @review-head;
@spritesheet: 1300px 525px '../img/sprite.png' @spritesheet-sprites;
@retina-spritesheet-width: 2600px;
@retina-spritesheet-height: 1050px;
@retina-spritesheet-image: '../img/sprite@2x.png';
@retina-spritesheet-sprites: @close-2x @concept-box-2x @concept-head-2x @footer-bg-2x @footer-head-2x @footer-icon-2x @footer-map-button-2x @footer-phone-2x @frame-hands-small-2x @frame-hands-2x @input-decor-1-2x @input-decor-2-2x @input-decor-3-2x @input-decor-4-2x @input-decor-5-2x @input-decor-6-2x @logo-2x @nav-bg-2x @popup-send-ok-2x @popup-send-review-2x @popup-2x @review-btn-2x @review-head-2x;
@retina-spritesheet: 2600px 1050px '../img/sprite@2x.png' @retina-spritesheet-sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
@close-group-name: 'close';
@close-group: 'close' @close @close-2x;
@concept-box-group-name: 'concept-box';
@concept-box-group: 'concept-box' @concept-box @concept-box-2x;
@concept-head-group-name: 'concept-head';
@concept-head-group: 'concept-head' @concept-head @concept-head-2x;
@footer-bg-group-name: 'footer-bg';
@footer-bg-group: 'footer-bg' @footer-bg @footer-bg-2x;
@footer-head-group-name: 'footer-head';
@footer-head-group: 'footer-head' @footer-head @footer-head-2x;
@footer-icon-group-name: 'footer-icon';
@footer-icon-group: 'footer-icon' @footer-icon @footer-icon-2x;
@footer-map-button-group-name: 'footer-map-button';
@footer-map-button-group: 'footer-map-button' @footer-map-button @footer-map-button-2x;
@footer-phone-group-name: 'footer-phone';
@footer-phone-group: 'footer-phone' @footer-phone @footer-phone-2x;
@frame-hands-small-group-name: 'frame-hands-small';
@frame-hands-small-group: 'frame-hands-small' @frame-hands-small @frame-hands-small-2x;
@frame-hands-group-name: 'frame-hands';
@frame-hands-group: 'frame-hands' @frame-hands @frame-hands-2x;
@input-decor-1-group-name: 'input-decor-1';
@input-decor-1-group: 'input-decor-1' @input-decor-1 @input-decor-1-2x;
@input-decor-2-group-name: 'input-decor-2';
@input-decor-2-group: 'input-decor-2' @input-decor-2 @input-decor-2-2x;
@input-decor-3-group-name: 'input-decor-3';
@input-decor-3-group: 'input-decor-3' @input-decor-3 @input-decor-3-2x;
@input-decor-4-group-name: 'input-decor-4';
@input-decor-4-group: 'input-decor-4' @input-decor-4 @input-decor-4-2x;
@input-decor-5-group-name: 'input-decor-5';
@input-decor-5-group: 'input-decor-5' @input-decor-5 @input-decor-5-2x;
@input-decor-6-group-name: 'input-decor-6';
@input-decor-6-group: 'input-decor-6' @input-decor-6 @input-decor-6-2x;
@logo-group-name: 'logo';
@logo-group: 'logo' @logo @logo-2x;
@nav-bg-group-name: 'nav-bg';
@nav-bg-group: 'nav-bg' @nav-bg @nav-bg-2x;
@popup-send-ok-group-name: 'popup-send-ok';
@popup-send-ok-group: 'popup-send-ok' @popup-send-ok @popup-send-ok-2x;
@popup-send-review-group-name: 'popup-send-review';
@popup-send-review-group: 'popup-send-review' @popup-send-review @popup-send-review-2x;
@popup-group-name: 'popup';
@popup-group: 'popup' @popup @popup-2x;
@review-btn-group-name: 'review-btn';
@review-btn-group: 'review-btn' @review-btn @review-btn-2x;
@review-head-group-name: 'review-head';
@review-head-group: 'review-head' @review-head @review-head-2x;
@retina-groups: @close-group @concept-box-group @concept-head-group @footer-bg-group @footer-head-group @footer-icon-group @footer-map-button-group @footer-phone-group @frame-hands-small-group @frame-hands-group @input-decor-1-group @input-decor-2-group @input-decor-3-group @input-decor-4-group @input-decor-5-group @input-decor-6-group @logo-group @nav-bg-group @popup-send-ok-group @popup-send-review-group @popup-group @review-btn-group @review-head-group;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `retina-sprite` class sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

@icon-home-group: 'icon-home' @icon-home @icon-home-2x;

.icon-home {
  .retina-sprite(@icon-home-group);
}
*/
.sprite-background-size(@sprite) {
    background-size: @sprite-total-width @sprite-total-height;

    @sprite-total-width: extract(@sprite, 7);
    @sprite-total-height: extract(@sprite, 8);
}

.retina-sprite(@retina-group) {
    @normal-sprite: extract(@retina-group, 2);
    @retina-sprite: extract(@retina-group, 3);
    .sprite(@normal-sprite);
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
        .sprite-image(@retina-sprite);
        .sprite-background-size(@normal-sprite);
    }
}


/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
    @sprite: extract(@sprites, @i);
    @sprite-name: e(extract(@sprite, 10));
    .sprites(@sprites, @i + 1);
    .@{sprite-name} {
        .sprite(@sprite);
    }
}

/*
The `.retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in LESS

.retina-sprites(@retina-groups);
*/
.retina-sprites(@retina-groups, @i: 1) when (@i <= length(@retina-groups)) {
    @retina-group: extract(@retina-groups, @i);
    @sprite-name: e(extract(@retina-group, 1));
    .retina-sprites(@retina-groups, @i + 1);
    .@{sprite-name} {
        .retina-sprite(@retina-group);
    }
}
