<section id="concept" class="concept jsScrollToEl">
	<h2 class="concept__title headline">Раневская и концепция</h2>
	<!-- concept slider -->
	<div class="text-slider owl-carousel jsSlider">
		<div class="text-slider__item" style="background-image: url('../img/concept/1bg.jpg');">
			<div class="container">
				<h2 class="text-slider__title headline">
					Памяти гениальной актрисы
				</h2>
				<div class="text-slider__avatar">
					<img src="../img/concept/1circle.jpg" alt="" class="image">
				</div>
				<p class="text-slider__text">
					Фаина Георгиевна (Григорьевна) Раневская, великая советская актриса театра и кино, Лауреат Гос. премий СССР, народная артистка СССР, родилась в г. Таганроге 27 августа 1896 года в состоятельной еврейской семье. Домработница в кинофильме "Весна", теща в "Свадьбе" и даже Фрекен Бок в мультфильме про Карлсона, озвученная Раневской, - все эти образы вошли в сокровищницу советского кинематографа
				</p>
			</div>
		</div>
		<div class="text-slider__item" style="background-image: url('../img/concept/2bg.jpg');">
			<div class="container">
				<h2 class="text-slider__title headline">
					Из Таганрога в Москву
				</h2>
				<div class="text-slider__avatar">
					<img src="../img/concept/2circle.jpg" alt="" class="image">
				</div>
				<p class="text-slider__text">
					В раннем возрасте Фаина увидела на сцене Таганрогского театра оперу и, потрясенная, решила стать актрисой. В 1915 г. она уезжает в Москву и начинает профессиональную карьеру. Около 15 лет Фаина Раневская упорно добивалась известности. В своих странствиях Раневская из «некрасивой и не талантливой» превратилась в ярчайшую острохарактерную актрису
				</p>
			</div>
		</div>
		<div class="text-slider__item" style="background-image: url('../img/concept/3bg.jpg');">
			<div class="container">
				<h2 class="text-slider__title headline">
					Дебют в кино и театре
				</h2>
				<div class="text-slider__avatar">
					<img src="../img/concept/3circle.jpg" alt="" class="image">
				</div>
				<p class="text-slider__text">
					С 1931 года Раневская окончательно поселилась в Москве и поступила служить в Камерный театр, где работала под руководством режиссера А.Я.Таирова. Первую роль в кино Фаина Георгиевна сыграла в 38 лет, в фильме М. Ромма «Пышка». Именно в эти годы она знакомится с М. Цветаевой, А. Ахматовой, В. Маяковским, В. Качаловым и многими другими выдающимися людьми эпохи.
				</p>
			</div>
		</div>
		<div class="text-slider__item" style="background-image: url('../img/concept/4bg.jpg');">
			<div class="container">
				<h2 class="text-slider__title headline">
					Всенародная слава
				</h2>
				<div class="text-slider__avatar">
					<img src="../img/concept/4circle.jpg" alt="" class="image">
				</div>
				<p class="text-slider__text">
					Комедия «Подкидыш» (реж. Т.Лукашевич, сценарий Агнии Барто и Рины Зеленой) – простая история о потерявшейся девочке и отзывчивых москвичах, где Фаина Раневская сыграла роль Ляли. Фраза «Муля, не нервируй меня!» принесла актрисе всенародную славу и преследовала до конца жизни. Много лет спустя в Таганроге поставят памятник, где Раневская запечатлена именно в этом образе Ляли.
				</p>
			</div>
		</div>
		<div class="text-slider__item" style="background-image: url('../img/concept/5bg.jpg');">
			<div class="container">
				<h2 class="text-slider__title headline">
					Королевство маловато
				</h2>
				<div class="text-slider__avatar">
					<img src="../img/concept/5circle.jpg" alt="" class="image">
				</div>
				<p class="text-slider__text">
					На «Ленфильме» в 1947 году выходят два фильма с участием Фаины Раневской. Комедия реж. Григория Александрова «Весна», где она сыграла роль Маргариты Львовны, экономки Никитиной. «Красота – это страшная сила!» - это фраза Раневской из «Весны». И фильм-сказка «Золушка» (реж. Н.Кошеверова, М.Шапиро), где Раневская исполняет роль злой мачехи.
				</p>
			</div>
		</div>
		<div class="text-slider__item" style="background-image: url('../img/concept/6bg.jpg');">
			<div class="container">
				<h2 class="text-slider__title headline">
					Возвращение в театр
				</h2>
				<div class="text-slider__avatar">
					<img src="../img/concept/6circle.jpg" alt="" class="image">
				</div>
				<p class="text-slider__text">
					С 1963 г. Раневская продолжала работать под рук. Юрия Завадского. Вся Москва ходила в театр Моссовета, чтобы увидеть ее в спектаклях «Странная миссис Сэвидж» (1966) и «Дальше – тишина» (1969). В «Тишине» они с Пляттом играли старых супругов. Из 300 сыгранных ролей в театре только спектакли «Правда – хорошо, а счастье лучше» и «Дальше – тишина» остались на пленках.
				</p>
			</div>
		</div>
		<div class="text-slider__item" style="background-image: url('../img/concept/7bg.jpg');">
			<div class="container">
				<h2 class="text-slider__title headline">
					Завещание Таганрогу
				</h2>
				<div class="text-slider__avatar">
					<img src="../img/concept/7circle.jpg" alt="" class="image">
				</div>
				<p class="text-slider__text">
					Пока были силы – все занимал театр. В 1983 году Фаина Георгиевна ушла из театра, объяснив, что ей «надоело симулировать здоровье». Скончалась Раневская 19 июля 1984 года. Она завещала Таганрогу часть своих вещей, книг, фотографий, документов. Все это сейчас можно посмотреть в Музее Градостроительства и быта
				</p>
			</div>
		</div>
		<div class="text-slider__item" style="background-image: url('../img/concept/8bg.jpg');">
			<div class="container">
				<h2 class="text-slider__title headline">
					Концепция кафе
				</h2>
				<div class="text-slider__avatar">
					<img src="../img/concept/8circle.jpg" alt="" class="image">
				</div>
				<p class="text-slider__text">
					 Рождение кафе "Фрекен Бок" было предопределено соседством с домом, где родилась и выросла гениальная и непревзойденная Фаина Георгиевна Раневская. Уютный, до мелочей продуманный интерьер, старинная мебель, венские стулья, собрания сочинений А.П. Чехова, тихая джазовая музыка, запах кофе и свежего хлеба возвращает нас во время, когда мы были счастливы, "когда деревья были большими..."
				</p>
			</div>
		</div>
	</div>
</section id="concept">