<div class="concept">
	<div class="concept__head">Раневская и концепция</div>
	<!-- concept slider -->
	<div class="concept-carousel owl-carousel jsConceptCarousel">
		<div class="concept-carousel__slide" style="background-image: url('../images/bg/concept.jpg');">
			<div class="container">
				<div class="concept-carousel__title headline">
					“Как много любви, а в аптеку сходить некому”
				</div>
				<div class="concept-carousel__avatar">
					<img src="http://cat-bounce.com/cb.png" alt="" class="image">
				</div>
				<div class="concept-carousel__text">
					Фаина Георгиевна, великая советская актриса театра и кино, родилась в г. Таганроге 27 августа 1896 года в состоятельной еврейской семье. Домработница в кинофильме "Весна", теща в "Свадьбе" и даже Фрекен Бок в мультфильме про Карлсона, которую озвучивала Фаина Георгиевна, - все эти образы вошли в сокровищницу советского кинематографа.
				</div>
			</div>
		</div>
		<div class="concept-carousel__slide" style="background-image: url('../images/bg/concept.jpg');">
			<div class="container">
				<div class="concept-carousel__title headline">
					Спасибо за доставленную радость живота и духа!
				</div>
				<div class="concept-carousel__avatar">
					<img src="http://cat-bounce.com/cb.png" alt="" class="image">
				</div>
				<div class="concept-carousel__text">
					Фаина Георгиевна, великая советская актриса театра и кино, родилась в г. Таганроге 27 августа 1896 года в состоятельной еврейской семье. Домработница в кинофильме "Весна", теща в "Свадьбе" и даже Фрекен Бок в мультфильме про Карлсона, которую озвучивала Фаина Георгиевна, - все эти образы вошли в сокровищницу советского кинематографа.
				</div>
			</div>
		</div>
		<div class="concept-carousel__slide" style="background-image: url('../images/bg/concept.jpg');">
			<div class="container">
				<div class="concept-carousel__title headline">
					Счастья всем Вам и Вашим посетителям.
				</div>
				<div class="concept-carousel__avatar">
					<img src="http://cat-bounce.com/cb.png" alt="" class="image">
				</div>
				<div class="concept-carousel__text">
					Фаина Георгиевна, великая советская актриса театра и кино, родилась в г. Таганроге 27 августа 1896 года в состоятельной еврейской семье. Домработница в кинофильме "Весна", теща в "Свадьбе" и даже Фрекен Бок в мультфильме про Карлсона, которую озвучивала Фаина Георгиевна, - все эти образы вошли в сокровищницу советского кинематографа.
				</div>
			</div>
		</div>
	</div>
</div>