<section id="concept" class="concept jsScrollToEl">
	<h2 class="concept__title headline">Раневская и концепция</h2>
	<!-- concept slider -->
	<div class="text-slider owl-carousel jsSlider">
		<div class="text-slider__item" style="background-image: url('http://www.rd.com/wp-content/uploads/sites/2/2016/04/01-cat-wants-to-tell-you-laptop.jpg');">
			<div class="container">
				<h2 class="text-slider__title headline">
					“Как много любви, а в аптеку сходить некому”
				</h2>
				<div class="text-slider__avatar">
					<img src="http://cat-bounce.com/cb.png" alt="" class="image">
				</div>
				<p class="text-slider__text">
					Фаина Георгиевна, великая советская актриса театра и кино, родилась в г. Таганроге 27 августа 1896 года в состоятельной еврейской семье. Домработница в кинофильме "Весна", теща в "Свадьбе" и даже Фрекен Бок в мультфильме про Карлсона, которую озвучивала Фаина Георгиевна, - все эти образы вошли в сокровищницу советского кинематографа.
				</p>
			</div>
		</div>
		<div class="text-slider__item" style="background-image: url('http://media.mnn.com/assets/images/2016/02/cat-smile.jpg.653x0_q80_crop-smart.jpg');">
			<div class="container">
				<h2 class="text-slider__title headline">
					Спасибо за доставленную радость живота и духа!
				</h2>
				<div class="text-slider__avatar">
					<img src="http://cat-bounce.com/cb.png" alt="" class="image">
				</div>
				<p class="text-slider__text">
					Фаина Георгиевна, великая советская актриса театра и кино, родилась в г. Таганроге 27 августа 1896 года в состоятельной еврейской семье. Домработница в кинофильме "Весна", теща в "Свадьбе".
				</p>
			</div>
		</div>
		<div class="text-slider__item" style="background-image: url('http://www.rd.com/wp-content/uploads/sites/2/2016/04/01-cat-wants-to-tell-you-laptop.jpg');">
			<div class="container">
				<h2 class="text-slider__title headline">
					Счастья всем Вам и Вашим посетителям.
				</h2>
				<div class="text-slider__avatar">
					<img src="http://cat-bounce.com/cb.png" alt="" class="image">
				</div>
				<p class="text-slider__text">
					Фаина Георгиевна, великая советская актриса театра и кино, родилась в г. Таганроге
				</p>
			</div>
		</div>
	</div>
</section id="concept">