<div class="events">
	<div class="container">
		<h2 class="events__title headline headline_section">17 мгновений</h2>
		<div class="events__row">
			<div class="events__col">
				<div class="events__frame">
					<i class="icon icon-button-orange"></i>
					<div class="events__image jsPopupHandler" data-popup-handler="event-id1" style="background-image: url('http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg')"></div>
				</div>
				<div class="events__frame">
					<i class="icon icon-button-blue"></i>
					<div class="events__image" style="background-image: url('http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg')"></div>
				</div>
			</div>
			<div class="events__col">
				<div class="events__frame events__frame_double-height">
					<i class="icon icon-button-green"></i>
					<div class="events__image" style="background-image: url('http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg')"></div>
				</div>
			</div>
		</div>
		<div class="events__row events__row_single">
			<div class="events__frame events__frame_double-width">
				<i class="icon icon-button-lazur"></i>
				<div class="events__image" style="background-image: url('http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg')"></div>
			</div>
		</div>
		<div class="events__row">
			<div class="events__col">
				<div class="events__frame">
					<i class="icon icon-button-orange"></i>
					<div class="events__image" style="background-image: url('http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg')"></div>
				</div>
			</div>
			<div class="events__col">
				<div class="events__frame">
					<i class="icon icon-button-green"></i>
					<div class="events__image" style="background-image: url('http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg')"></div>
				</div>
			</div>
		</div>
		<div class="events__row">
			<div class="events__col">
				<div class="events__frame">
					<i class="icon icon-button-orange"></i>
					<div class="events__image" style="background-image: url('http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg')"></div>
				</div>
				<div class="events__frame">
					<i class="icon icon-button-blue"></i>
					<div class="events__image" style="background-image: url('http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg')"></div>
				</div>
			</div>
			<div class="events__col">
				<div class="events__frame events__frame_double-height">
					<i class="icon icon-button-green"></i>
					<div class="events__image" style="background-image: url('http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg')"></div>
				</div>
			</div>
		</div>
		<div class="events__row events__row_single">
			<div class="events__frame events__frame_double-width">
				<i class="icon icon-button-lazur"></i>
				<div class="events__image" style="background-image: url('http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg')"></div>
			</div>
		</div>
		<div class="events__row">
			<div class="events__col">
				<div class="events__frame">
					<i class="icon icon-button-orange"></i>
					<div class="events__image" style="background-image: url('http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg')"></div>
				</div>
			</div>
			<div class="events__col">
				<div class="events__frame">
					<i class="icon icon-button-green"></i>
					<div class="events__image" style="background-image: url('http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg')"></div>
				</div>
			</div>
		</div>
	</div>
</div>