<div class="popup popup_event popup_full-height jsPopupEl" data-popup-el="event">
	<div class="popup__inner">
		<header class="popup__header">
			<div class="popup__back jsPopupClose"></div>
			<h2 class="popup__title headline">
				Одно из мгновений
			</h2>
		</header>
		<div class="popup__scroll">
			<div class="popup__scroll-inner">
				<h3 class="popup_event__title headline">
					Чемпионат бариста "Кубок юга России 2012"
				</h3>
				<p class="popup_event__text">
					Кремлёвский кубок 2015 год г.Ростов-на-Дону. Новый чемпион - Семён Дёмин.
				</p>
				<img
					class="popup_event__img"
					src="http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg"
					alt="">
				<p class="popup_event__text">
					28 января в 2012 в Краснодаре проходил Южно-российский отборочный этап Российского чемпионата бариста (РЧБ). За 15 минут надо было приготовить по 3 вида кофе: 4 эспрессо, 4 капучино и 4 авторских напитка. Воспоминания о Востоке вдохновили Машу на создание авторского напитка, состоящего из кофе, халвы и особого апельсинового сиропа. Наша бариста, Маша Аттар, заняла призовое место и едет на Чемпионат России представлять Ростовскую область!
				</p>
				<img
					class="popup_event__img"
					src="http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg"
					alt="">
				<p class="popup_event__text">
					Кремлёвский кубок 2015 год г.Ростов-на-Дону. Новый чемпион - Семён Дёмин.
				</p>
			</div>
		</div>
	</div>
</div>
