<div class="events">
	<div class="container">
		<div class="events__head headline headline_section">17 мгновений</div>

		<div class="events__row">
			<div class="events__col">
				<div class="events__frame">
					<i class="i-frame-button"></i>
					<div class="events__image" style="background-image: url('http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg')"></div>
				</div>
				<div class="events__frame">
					<i class="i-frame-button i-frame-button_blue"></i>
					<div class="events__image" style="background-image: url('http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg')"></div>
				</div>
			</div>
			<div class="events__col">
				<div class="events__frame events__frame_height2">
					<i class="i-frame-button i-frame-button_green"></i>
					<div class="events__image" style="background-image: url('http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg')"></div>
				</div>
			</div>
		</div>

		<div class="events__row events__row_single">
			<div class="events__frame events__frame_width2">
				<i class="i-frame-button i-frame-button_lazur"></i>
				<div class="events__image" style="background-image: url('http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg')"></div>
			</div>
		</div>

		<div class="events__row">
			<div class="events__col">
				<div class="events__frame">
					<i class="i-frame-button"></i>
					<div class="events__image" style="background-image: url('http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg')"></div>
				</div>
				<div class="events__frame">
					<i class="i-frame-button"></i>
					<div class="events__image" style="background-image: url('http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg')"></div>
				</div>
			</div>
			<div class="events__col">
				<div class="events__frame events__frame_height2">
					<i class="i-frame-button"></i>
					<div class="events__image" style="background-image: url('http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg')"></div>
				</div>
			</div>
		</div>

		<div class="events__row events__row_single">
			<div class="events__frame events__frame_width2">
				<i class="i-frame-button"></i>
				<div class="events__image" style="background-image: url('http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg')"></div>
			</div>
		</div>

		<div class="events__row">
			<div class="events__col">
				<div class="events__frame">
					<i class="i-frame-button"></i>
					<div class="events__image" style="background-image: url('http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg')"></div>
				</div>
			</div>
			<div class="events__col">
				<div class="events__frame">
					<i class="i-frame-button"></i>
					<div class="events__image" style="background-image: url('http://i2.cdn.turner.com/cnnnext/dam/assets/150324154025-14-internet-cats-restricted-super-169.jpeg')"></div>
				</div>
			</div>
		</div>

	</div>
</div>