<footer class="site-footer">
	<h2 class="site-footer__title headline headline_section">
		Как нас найти
	</h2>
	<!-- Contacts - address -->
	<div class="site-footer__address">
		"Фрекен Бок" Кафе<br/>
		г. Таганрог, пер. Тургеневский, 24.<br/>
		Мы открыты с 8 до 23
	</div>
	<!-- Get direction -->
	<a class="badge" href="">
		проложить маршрут от Вас до нас
	</a>
	<!-- Contacts - email, phone -->
	<ul class="contacts">
		<li class="contacts__item">
			<a class="contacts__link">
				<i class="icon icon-email"></i>
				<span class="text">frekenbok_kafe@mail.ru</span>
			</a>
		</li>
		<li class="contacts__item">
			<a class="contacts__link">
				<i class="icon icon-phone"></i>
				<span class="text">8 (8634) 310-440</span>
			</a>
		</li>
	</ul>
	<!-- Social links -->
	<div class="social">
		<div class="social__title">
			мы в соцсетях
		</div>
		<a href="" class="social__link">
			<i class="icon icon-fb"></i>
		</a>
		<a href="" class="social__link">
			<i class="icon icon-tw"></i>
		</a>
	</div>
</footer>
