<footer class="footer-site">
	<div class="footer-site__head headline">Как нас найти</div>

	<div class="footer-site__address">
		"Фрекен Бок" Кафе
		<address>
			г. Таганрог, пер. Тургеневский, 24.
		</address>
		Мы открыты с 8 до 23
	</div>

	<a class="get-direction">проложить маршрут от Вас до нас</a>

	<ul class="contacts">
		<li class="contacts__item contacts__item_email">
			<a class="contacts__link"><i class="icon"></i><span class="text">frekenbok_kafe@mail.ru</span></a>
		</li>
		<li class="contacts__item contacts__item_phone">
			<a class="contacts__link"><i class="icon"></i><span class="text">8 (8634) 310-440</span></a>
		</li>
	</ul>

	<div class="socnets">
		<div class="socnets__headline">мы в соцсетях</div>
		<a href="" class="socnets__link socnets__link_fb"></a>
		<a href="" class="socnets__link socnets__link_tw"></a>
	</div>
</footer>
