<div class="popup popup_full-height jsPopupEl" data-popup-el="direction">
	<div class="popup__inner">
		<header class="popup__header">
			<div class="popup__back jsPopupClose"></div>
			<h2 class="popup__title headline">
				Ваш маршрут
			</h2>
		</header>
		<div class="popup__scroll">
			<div class="popup__scroll-inner">
				<div class="map map_full-screen">
					<div class="map__inner">
						<div class="map__container" id="map-direction"></div>
						<div class="map__controls">
							<i id="zoomout1" class="icon icon-zoom-out"></i>
							<i class="icon icon-map-zoom"></i>
							<i id="zoomin1" class="icon icon-zoom-in"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>