<header class="site-header">
	<div class="container">
		<a href="" class="site-header__menu jsPopupHandler" data-popup-handler="navigation">
			<i class="icon icon-menu"></i>
		</a>
		<a href="" class="site-header__phone">
			<i class="icon icon-top-phone"></i>
		</a>
		<a class="logo" href="#">
			<i class="icon icon-logo"></i>
		</a>
	</div>
</header>
