<header class="header-site">
	<div class="container">
		<a href="" class="header-site__menu jsNavigationHandle"></a>
		<a href="" class="header-site__phone"></a>
		<div class="header-site__logo"></div>
	</div>
</header>
