<nav class="navigation jsNavigation">
	<ul class="navigation__list">
		<li class="navigation__item"><a href="" class="navigation__link"><span class="nav-red-letter">О</span> кафе</a></li>
		<li class="navigation__item"><a href="" class="navigation__link">Ран<span class="nav-blue-letter">е</span>вская и конце<span class="nav-brown-letter">п</span>ция</a></li>
		<li class="navigation__item"><a href="" class="navigation__link"><span class="nav-blue-letter">О</span>тзывы</a></li>
		<li class="navigation__item"><a href="" class="navigation__link">17 мгновени<span class="nav-green-letter">й</span></a></li>
		<li class="navigation__item"><a href="" class="navigation__link"><span class="nav-blue-letter">К</span>ак нас на<span class="nav-pink-letter">й</span>ти</a></li>
	</ul>
</nav>