<div id="about" class="opinions jsScrollToEl">
	<!-- Opinions slider -->
	<div class="columns-slider jsOpinionsCarousel">
		<div class="columns-slider__item">
			<div class="columns-slider__left">
				<div class="columns-slider__avatar">
					<img src="http://cat-bounce.com/cb.png" alt="" class="image">
				</div>
			</div>
			<div class="columns-slider__right">
				<p class="columns-slider__text headline">
					Счастья всем Вам и Вашим посетителям.
				</p>
				<div class="columns-slider__author">
					Евгений Дога /<span>народный артист СССР, молдавский советский композитор</span>
				</div>
			</div>
		</div>
		<div class="columns-slider__item">
			<div class="columns-slider__left">
				<div class="columns-slider__avatar is-female">
					<img src="http://cat-bounce.com/cb.png" alt="" class="image">
				</div>
			</div>
			<div class="columns-slider__right">
				<p class="columns-slider__text headline">
					Самое лучшее в мире заведение! От вас не хочется уходить!
				</p>
				<div class="columns-slider__author">
					Карина Андоленко /<span>народный артист СССР, молдавский советский композитор</span>
				</div>
			</div>
		</div>
		<div class="columns-slider__item">
			<div class="columns-slider__left">
				<div class="columns-slider__avatar">
					<img src="http://cat-bounce.com/cb.png" alt="" class="image">
				</div>
			</div>
			<div class="columns-slider__right">
				<p class="columns-slider__text headline">
					Счастья всем Вам и Вашим посетителям.
				</p>
				<div class="columns-slider__author">
					Евгений Дога /<span>народный артист СССР, молдавский советский композитор</span>
				</div>
			</div>
		</div>
		<div class="columns-slider__item">
			<div class="columns-slider__left">
				<div class="columns-slider__avatar">
					<img src="http://cat-bounce.com/cb.png" alt="" class="image">
				</div>
			</div>
			<div class="columns-slider__right">
				<p class="columns-slider__text headline">
					Самое лучшее в мире заведение! От вас не хочется уходить!
				</p>
				<div class="columns-slider__author">
					Карина Андоленко /<span>народный артист СССР, молдавский советский композитор</span>
				</div>
			</div>
		</div>
	</div>
	<!-- Scroll down icon -->
	<div class="scroll-down"></div>
</div>