<div class="opinions">
	<!-- Opinions slider -->
	<div class="opinions-carousel owl-carousel jsOpinionsCarousel">
		<div class="opinions-carousel__slide">
			<div class="opinions-carousel__left">
				<div class="opinions-carousel__avatar">
					<img src="http://cat-bounce.com/cb.png" alt="" class="image">
				</div>
			</div>
			<div class="opinions-carousel__right">
				<p class="opinions-carousel__text headline">
					Счастья всем Вам и Вашим посетителям.
				</p>
				<div class="opinions-carousel__author">
					Евгений Дога /<span>народный артист СССР, молдавский советский композитор</span>
				</div>
			</div>
		</div>
		<div class="opinions-carousel__slide">
			<div class="opinions-carousel__left">
				<div class="opinions-carousel__avatar is-female">
					<img src="http://cat-bounce.com/cb.png" alt="" class="image">
				</div>
			</div>
			<div class="opinions-carousel__right">
				<p class="opinions-carousel__text headline">
					Самое лучшее в мире заведение! От вас не хочется уходить!
				</p>
				<div class="opinions-carousel__author">
					Карина Андоленко /<span>народный артист СССР, молдавский советский композитор</span>
				</div>
			</div>
		</div>
		<div class="opinions-carousel__slide">
			<div class="opinions-carousel__left">
				<div class="opinions-carousel__avatar">
					<img src="http://cat-bounce.com/cb.png" alt="" class="image">
				</div>
			</div>
			<div class="opinions-carousel__right">
				<p class="opinions-carousel__text headline">
					Счастья всем Вам и Вашим посетителям.
				</p>
				<div class="opinions-carousel__author">
					Евгений Дога /<span>народный артист СССР, молдавский советский композитор</span>
				</div>
			</div>
		</div>
		<div class="opinions-carousel__slide">
			<div class="opinions-carousel__left">
				<div class="opinions-carousel__avatar">
					<img src="http://cat-bounce.com/cb.png" alt="" class="image">
				</div>
			</div>
			<div class="opinions-carousel__right">
				<p class="opinions-carousel__text headline">
					Самое лучшее в мире заведение! От вас не хочется уходить!
				</p>
				<div class="opinions-carousel__author">
					Карина Андоленко /<span>народный артист СССР, молдавский советский композитор</span>
				</div>
			</div>
		</div>
	</div>
	<!-- Scroll down icon -->
	<div class="scroll-down"></div>
</div>