<div class="reviews">
	<h2 class="reviews__title jsPopupHandler" data-popup-handler="reviews">
		Отзывы
	</h2>
	<div class="map">
		<!-- Google map -->
		<div class="map__container" id="map"></div>
		<!-- Custonm controls -->
		<div class="map__controls">
			<i id="zoomout" class="icon icon-zoom-out"></i>
			<i class="icon icon-map-zoom"></i>
			<i id="zoomin" class="icon icon-zoom-in"></i>
		</div>
	</div>
	<!-- Add new review button -->
	<a class="reviews__add jsPopupHandler"
		data-popup-handler="send-review"
		href="">
		Оставить отзыв
	</a>
</div>