<div class="reviews">
	<!-- Reviews slider -->
	<div class="reviews-carousel owl-carousel jsReviewsCarousel">
		<div class="reviews-carousel__slide">
			<div class="reviews-carousel__left">
				<div class="reviews-carousel__avatar">
					<img src="http://cat-bounce.com/cb.png" alt="" class="image">
				</div>
			</div>
			<div class="reviews-carousel__right">
				<div class="reviews-carousel__opinion headline">
					Счастья всем Вам и Вашим посетителям.
				</div>
				<div class="reviews-carousel__author">
					Евгений Дога /<span>народный артист СССР, молдавский советский композитор</span>
				</div>
			</div>
		</div>
		<div class="reviews-carousel__slide">
			<div class="reviews-carousel__left">
				<div class="reviews-carousel__avatar">
					<img src="http://cat-bounce.com/cb.png" alt="" class="image">
				</div>
			</div>
			<div class="reviews-carousel__right">
				<div class="reviews-carousel__opinion headline">
					Самое лучшее в мире заведение! От вас не хочется уходить!
				</div>
				<div class="reviews-carousel__author">
					Карина Андоленко /<span>народный артист СССР, молдавский советский композитор</span>
				</div>
			</div>
		</div>
		<div class="reviews-carousel__slide">
			<div class="reviews-carousel__left">
				<div class="reviews-carousel__avatar">
					<img src="http://cat-bounce.com/cb.png" alt="" class="image">
				</div>
			</div>
			<div class="reviews-carousel__right">
				<div class="reviews-carousel__opinion headline">
					Счастья всем Вам и Вашим посетителям.
				</div>
				<div class="reviews-carousel__author">
					Евгений Дога /<span>народный артист СССР, молдавский советский композитор</span>
				</div>
			</div>
		</div>
		<div class="reviews-carousel__slide">
			<div class="reviews-carousel__left">
				<div class="reviews-carousel__avatar">
					<img src="http://cat-bounce.com/cb.png" alt="" class="image">
				</div>
			</div>
			<div class="reviews-carousel__right">
				<div class="reviews-carousel__opinion headline">
					Самое лучшее в мире заведение! От вас не хочется уходить!
				</div>
				<div class="reviews-carousel__author">
					Карина Андоленко /<span>народный артист СССР, молдавский советский композитор</span>
				</div>
			</div>
		</div>
	</div>
	<!-- Scroll down icon -->
	<div class="scroll-down"></div>
</div>