<div class="popup jsPopupEl" data-popup-el="reviews">
	<div class="popup__inner">
		<div class="reviews-slider">
			<!-- Reviews slider -->
			<div class="reviews-slider owl-carousel jsReviewsCarousel">
				<div class="reviews-slider__slide">
					<h2 class="reviews-slider__headline headline">New York</h2>
					<div class="reviews-slider__count">
						134 отзыва из этого города
					</div>

					<p class="reviews-slider__text">
						Путешествуя по городам, затормозив в уездном Таганроге, попали под крыло Фрекен Бок и поняли, что места милее, приятней и изысканней мы не видали (по чести сказать побывав во многих интереснейших местах мира). Спасибо за созданное настроение, сытость и приятную атмосферу! Пусть творчество Вас не покидает, пусть никогда не будет свободных столиков!
					</p>

					<div class="reviews-slider__author">Группа жителей Казахстана</div>
				</div>
				<div class="reviews-slider__slide">
					<h2 class="reviews-slider__headline headline">New York</h2>
					<div class="reviews-slider__count">
						134 отзыва из этого города
					</div>

					<p class="reviews-slider__text">
						Путешествуя по городам, затормозив в уездном Таганроге, попали под крыло Фрекен Бок и поняли, что места милее, приятней и изысканней мы не видали (по чести сказать побывав во многих интереснейших местах мира). Спасибо за созданное настроение, сытость и приятную атмосферу! Пусть творчество Вас не покидает, пусть никогда не будет свободных столиков!
					</p>

					<div class="reviews-slider__author">Группа жителей Казахстана</div>
				</div>
				<div class="reviews-slider__slide">
					<h2 class="reviews-slider__headline headline">New York</h2>
					<div class="reviews-slider__count">
						134 отзыва из этого города
					</div>

					<p class="reviews-slider__text">
						Путешествуя по городам, затормозив в уездном Таганроге, попали под крыло Фрекен Бок и поняли, что места милее, приятней и изысканней мы не видали (по чести сказать побывав во многих интереснейших местах мира). Спасибо за созданное настроение, сытость и приятную атмосферу! Пусть творчество Вас не покидает, пусть никогда не будет свободных столиков!
					</p>

					<div class="">Группа жителей Казахстана</div>
				</div>
				<div class="reviews-slider__slide">
					<h2 class="reviews-slider__headline headline">New York</h2>
					<div class="reviews-slider__count">
						134 отзыва из этого города
					</div>

					<p class="reviews-slider__text">
						Путешествуя по городам, затормозив в уездном Таганроге, попали под крыло Фрекен Бок и поняли, что места милее, приятней и изысканней мы не видали (по чести сказать побывав во многих интереснейших местах мира). Спасибо за созданное настроение, сытость и приятную атмосферу! Пусть творчество Вас не покидает, пусть никогда не будет свободных столиков!
					</p>

					<div class="reviews-slider__author">Группа жителей Казахстана</div>
				</div>
			</div>

			<div class="reviews-slider__counter">12</div>
		</div>

		<div class="popup__closer jsPopupCloser"></div>
	</div>
	<div class="overlay jsPopupCloser"></div>
</div>
