<div class="reviews">
	<div class="reviews__head">Отзывы</div>
	<div class="map">
		<div class="map__container" id="map"></div>
		<a href="" class="map__zoom-in"></a>
		<i class="i-map-zoom"></i>
		<a href="" class="map__zoom-out"></a>
	</div>
	<a class="reviews__add" href="">Оставить отзыв</a>
</div>