<div class="reviews">
	<div class="reviews__head jsPopupHandler" data-popup-handler="reviews">Отзывы</div>
	<div class="map">
		<div class="map__container" id="map"></div>
		<div class="map__controls">
			<div id="zoomout" class="map__zoom-in"></div>
			<i class="i-map-zoom"></i>
			<div id="zoomin" class="map__zoom-out"></div>
		</div>
	</div>
	<a class="reviews__add jsPopupHandler" data-popup-handler="send-review" href="">Оставить отзыв</a>
</div>