<section id="reviews" class="map jsScrollToEl">
	<h2 class="map__title">
		Отзывы
	</h2>
	<div class="map__inner">
		<!-- Google map -->
		<div class="map__container" id="map"></div>
		<!-- Custonm controls -->
		<div class="map__controls">
			<i id="zoomout" class="icon icon-zoom-out"></i>
			<i class="icon icon-map-zoom"></i>
			<i id="zoomin" class="icon icon-zoom-in"></i>
		</div>
		<div class="jsPopupHandler" data-popup-handler="reviews"></div>
	</div>
	<!-- Add new review button -->
	<a class="map__btn jsPopupHandler"
		data-popup-handler="send-review"
		href="">
		Оставить отзыв
	</a>
</section>