<div class="popup jsPopupEl" data-popup-el="send-review">
	<div class="popup__inner form">
		<!-- Form -->
		<form action="#" id="send-review-form">
			<!-- Header -->
			<header class="form__header">
				<h2 class="form__title headline">
					Оставить отзыв
				</h2>
			</header>
			<!-- Content -->
			<div class="form__content">
				<div class="form__data">
					<!-- City -->
					<div class="form__row form__row_city">
						<input id="city"
							type="text"
							class="input"
							placeholder="Из какого вы города?"
							data-validation="required"
							data-validation-error-msg="Это поле не может быть пустым">
					</div>
					<!-- Name -->
					<div class="form__row form__row_name">
						<input id="name"
							type="text"
							class="input"
							placeholder="Как Вас зовут?"
							data-validation="required"
							data-validation-error-msg="Это поле не может быть пустым">
					</div>
					<!-- Text -->
					<div class="form__row form__row_text">
						<textarea id="review"
							placeholder="Напишите, что вы о нас думаете"
							class="textarea"
							data-validation="required"
							data-validation-error-msg="Это поле не может быть пустым"></textarea>
					</div>
					<!-- Submit -->
					<div class="form__row">
						<button class="btn btn_send">
							<span class="btn__text">Отправить</span>
						</button>
					</div>
				</div>
				<!-- Successful state -->
				<div class="form__complete">
					<p class="form__complete-text">
						Ваш отзыв отправлен первым классом.<br/>Спасибо!
					</p>
				</div>
			</div>
		</form>
		<div class="popup__close jsPopupClose"></div>
	</div>
	<div class="overlay jsPopupClose"></div>
</div>
