<div class="popup jsPopupEl" data-popup-el="reviews">
	<div class="popup__inner">
		<div class="reviews-slider">
			<!-- Reviews slider -->
			<div class="reviews-slider owl-carousel jsSlider">
				<div class="reviews-slider__item">
					<h2 class="reviews-slider__title headline">New York</h2>
					<h3 class="reviews-slider__sub-title">
						134 отзыва из этого города
					</h3>
					<p class="reviews-slider__text">
						Путешествуя по городам, затормозив в уездном Таганроге, попали под крыло Фрекен Бок и поняли, что места милее, приятней и изысканней мы не видали (по чести сказать побывав во многих интереснейших местах мира).
					</p>
					<p class="reviews-slider__text">
						Спасибо за созданное настроение, сытость и приятную атмосферу! Пусть творчество Вас не покидает, пусть никогда не будет свободных столиков!
					</p>
					<div class="reviews-slider__author">Группа жителей Казахстана</div>
				</div>
				<div class="reviews-slider__item">
					<h2 class="reviews-slider__title headline">New York</h2>
					<h3 class="reviews-slider__sub-title">
						134 отзыва из этого города
					</h3>
					<p class="reviews-slider__text">
						Путешествуя по городам, затормозив в уездном Таганроге, попали под крыло Фрекен Бок и поняли, что места милее, приятней и изысканней мы не видали (по чести сказать побывав во многих интереснейших местах мира). Спасибо за созданное настроение, сытость и приятную атмосферу! Пусть творчество Вас не покидает, пусть никогда не будет свободных столиков!
					</p>
					<div class="reviews-slider__author">Группа жителей Казахстана</div>
				</div>
				<div class="reviews-slider__item">
					<h2 class="reviews-slider__title headline">New York</h2>
					<h3 class="reviews-slider__sub-title">
						134 отзыва из этого города
					</h3>
					<p class="reviews-slider__text">
						Путешествуя по городам, затормозив в уездном Таганроге, попали под крыло Фрекен Бок и поняли, что места милее, приятней и изысканней мы не видали (по чести сказать побывав во многих интереснейших местах мира). Спасибо за созданное настроение, сытость и приятную атмосферу! Пусть творчество Вас не покидает, пусть никогда не будет свободных столиков!
					</p>
					<div class="">Группа жителей Казахстана</div>
				</div>
				<div class="reviews-slider__item">
					<h2 class="reviews-slider__title headline">New York</h2>
					<h3 class="reviews-slider__sub-title">
						134 отзыва из этого города
					</h3>
					<p class="reviews-slider__text">
						Путешествуя по городам, затормозив в уездном Таганроге, попали под крыло Фрекен Бок и поняли, что места милее, приятней и изысканней мы не видали (по чести сказать побывав во многих интереснейших местах мира). Спасибо за созданное настроение, сытость и приятную атмосферу! Пусть творчество Вас не покидает, пусть никогда не будет свободных столиков!
					</p>
					<div class="reviews-slider__author">Группа жителей Казахстана</div>
				</div>
			</div>
			<div class="reviews-slider__counter">12</div>
		</div>
		<div class="popup__close jsPopupClose"></div>
	</div>
	<div class="overlay jsPopupClose"></div>
</div>
