<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>Кафе "Фрекен Бок"</title>
	<link rel="stylesheet" href="css/app.css?v={{timestamp}}">
</head>
<body>
	<div class="wrapper">
		<!-- Header -->
		{{>header}}
		<!-- Navigation -->
		{{>navigation}}
		<!-- Opinions -->
		{{>opinions}}
		<!-- Concept -->
		{{>concept}}
		<!-- Reviews -->
		{{>reviews}}
		<!-- Reviews form -->
		{{>reviews-form}}
		<!-- Reviews popup -->
		{{>reviews-popup}}
		<!-- Events -->
		{{>events}}
		<!-- Events popup -->
		{{>events-popup}}
		<!-- Footer -->
		{{>footer}}
		<!-- Geolocation-popup -->
		{{>geolocation-popup}}
	</div>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASjRzZ8av45eNp4hb1xG8g8RcqGTfC56g&libraries=visualization"></script>
	<script src="js/plugins.min.js"></script>
	<script src="js/app.js?v={{timestamp}}"></script>
</body>
</html>
